{"openapi":"3.1.0","info":{"title":"Luma API","version":"1.0.0","description":"API for interacting with Luma's event platform.\n\n## Rate Limits\n\nThe Luma API uses a per-minute rate limit shared across `GET` and `POST` requests:\n\n- **Calendar API keys** and OAuth tokens: **200 requests/minute** per calendar.\n- **Organization API keys**: **500 requests/minute** per organization.\n\nWhen you exceed the limit the API returns `429 Too Many Requests`. Back off before retrying.","contact":{"name":"Luma Support","url":"https://help.luma.com"},"license":{"name":"Proprietary"}},"servers":[{"url":"https://public-api.luma.com","description":"Production server"}],"tags":[{"name":"Events"},{"name":"Calendars"},{"name":"Memberships"},{"name":"Webhooks"},{"name":"Webhook Types"},{"name":"Organizations"},{"name":"Miscellaneous"}],"paths":{"/v1/events/get":{"get":{"tags":["Events"],"summary":"Get Event","parameters":[{"name":"event_id","in":"query","required":true,"schema":{"type":"string","description":"Event ID, this usually starts with evt-"},"description":"Event ID, this usually starts with evt-"}],"description":"Return full details about an event you have manage access for, including hosts and a breakdown of guest counts by status.","responses":{"200":{"description":"Successful response.","content":{"application/json":{"schema":{"$schema":"https://json-schema.org/draft/2020-12/schema","type":"object","properties":{"platform":{"type":"string","const":"luma"},"id":{"type":"string"},"user_id":{"type":"string"},"calendar_id":{"type":"string"},"start_at":{"type":"string","format":"date-time","pattern":"^(?:(?:\\d\\d[2468][048]|\\d\\d[13579][26]|\\d\\d0[48]|[02468][048]00|[13579][26]00)-02-29|\\d{4}-(?:(?:0[13578]|1[02])-(?:0[1-9]|[12]\\d|3[01])|(?:0[469]|11)-(?:0[1-9]|[12]\\d|30)|(?:02)-(?:0[1-9]|1\\d|2[0-8])))T(?:(?:[01]\\d|2[0-3]):[0-5]\\d(?::[0-5]\\d(?:\\.\\d+)?)?(?:Z|([+-](?:[01]\\d|2[0-3]):[0-5]\\d)))$","description":"ISO 8601 Datetime. For example, 2022-10-19T03:27:13.673Z"},"duration_interval":{"type":"string"},"end_at":{"type":"string","format":"date-time","pattern":"^(?:(?:\\d\\d[2468][048]|\\d\\d[13579][26]|\\d\\d0[48]|[02468][048]00|[13579][26]00)-02-29|\\d{4}-(?:(?:0[13578]|1[02])-(?:0[1-9]|[12]\\d|3[01])|(?:0[469]|11)-(?:0[1-9]|[12]\\d|30)|(?:02)-(?:0[1-9]|1\\d|2[0-8])))T(?:(?:[01]\\d|2[0-3]):[0-5]\\d(?::[0-5]\\d(?:\\.\\d+)?)?(?:Z|([+-](?:[01]\\d|2[0-3]):[0-5]\\d)))$","description":"ISO 8601 Datetime. For example, 2022-10-19T03:27:13.673Z"},"created_at":{"type":"string","format":"date-time","pattern":"^(?:(?:\\d\\d[2468][048]|\\d\\d[13579][26]|\\d\\d0[48]|[02468][048]00|[13579][26]00)-02-29|\\d{4}-(?:(?:0[13578]|1[02])-(?:0[1-9]|[12]\\d|3[01])|(?:0[469]|11)-(?:0[1-9]|[12]\\d|30)|(?:02)-(?:0[1-9]|1\\d|2[0-8])))T(?:(?:[01]\\d|2[0-3]):[0-5]\\d(?::[0-5]\\d(?:\\.\\d+)?)?(?:Z|([+-](?:[01]\\d|2[0-3]):[0-5]\\d)))$","description":"ISO 8601 Datetime. For example, 2022-10-19T03:27:13.673Z"},"timezone":{"type":"string","description":"IANA Timezone, e.g. America/New_York. https://en.wikipedia.org/wiki/List_of_tz_database_time_zones"},"name":{"type":"string"},"geo_address_json":{"anyOf":[{"type":"object","properties":{"address":{"type":"string"},"city":{"anyOf":[{"type":"string"},{"type":"null"}]},"region":{"anyOf":[{"type":"string"},{"type":"null"}]},"country":{"anyOf":[{"type":"string"},{"type":"null"}]},"city_state":{"anyOf":[{"type":"string"},{"type":"null"}]},"full_address":{"anyOf":[{"type":"string"},{"type":"null"}]},"google_maps_place_id":{"anyOf":[{"type":"string"},{"type":"null"}]},"apple_maps_place_id":{"anyOf":[{"type":"string"},{"type":"null"}]},"description":{"anyOf":[{"type":"string"},{"type":"null"}]}},"required":["address","city","region","country","city_state","full_address","google_maps_place_id","apple_maps_place_id","description"]},{"type":"null"}]},"coordinate":{"anyOf":[{"type":"object","properties":{"longitude":{"type":"number"},"latitude":{"type":"number"}},"required":["longitude","latitude"]},{"type":"null"}],"description":"Latitude and longitude of the event location. Null for online events or when the address can't be geocoded."},"meeting_url":{"anyOf":[{"type":"string"},{"type":"null"}]},"location_type":{"type":"string","enum":["discord","meet","twitch","twitter","youtube","zoom","offline","missing","unknown"],"description":"`offline` for in-person events. Online events have the meeting platform (`zoom`, `meet`, etc.), or `unknown` if we don't recognize the meeting link. `missing` if the event has no location set."},"location_visibility":{"type":"string","enum":["public","guests-only"],"description":"Whether the event's address is shown to everyone or only to approved guests. This API always returns the full address."},"cover_url":{"type":"string"},"registration_questions":{"type":"array","items":{"anyOf":[{"type":"object","properties":{"id":{"type":"string"},"label":{"type":"string"},"required":{"type":"boolean"},"question_type":{"type":"string","const":"agree-check"}},"required":["id","label","required","question_type"]},{"type":"object","properties":{"id":{"type":"string"},"label":{"type":"string"},"required":{"type":"boolean"},"question_type":{"type":"string","const":"company"},"collect_job_title":{"anyOf":[{"type":"boolean"},{"type":"null"}]},"job_title_label":{"anyOf":[{"type":"string"},{"type":"null"}]}},"required":["id","label","required","question_type"]},{"type":"object","properties":{"id":{"type":"string"},"label":{"type":"string"},"required":{"type":"boolean"},"question_type":{"type":"string","const":"dropdown"},"options":{"maxItems":250,"type":"array","items":{"type":"string"}}},"required":["id","label","required","question_type","options"]},{"type":"object","properties":{"id":{"type":"string"},"label":{"type":"string"},"required":{"type":"boolean"},"question_type":{"type":"string","const":"github"}},"required":["id","label","required","question_type"]},{"type":"object","properties":{"id":{"type":"string"},"label":{"type":"string"},"required":{"type":"boolean"},"question_type":{"type":"string","const":"instagram"}},"required":["id","label","required","question_type"]},{"type":"object","properties":{"id":{"type":"string"},"label":{"type":"string"},"required":{"type":"boolean"},"question_type":{"type":"string","const":"linkedin"}},"required":["id","label","required","question_type"]},{"type":"object","properties":{"id":{"type":"string"},"label":{"type":"string"},"required":{"type":"boolean"},"question_type":{"type":"string","const":"long-text"}},"required":["id","label","required","question_type"]},{"type":"object","properties":{"id":{"type":"string"},"label":{"type":"string"},"required":{"type":"boolean"},"question_type":{"type":"string","const":"multi-select"},"options":{"maxItems":250,"type":"array","items":{"type":"string"}}},"required":["id","label","required","question_type","options"]},{"type":"object","properties":{"id":{"type":"string"},"label":{"type":"string"},"required":{"type":"boolean"},"question_type":{"type":"string","const":"phone-number"}},"required":["id","label","required","question_type"]},{"type":"object","properties":{"id":{"type":"string"},"label":{"type":"string"},"required":{"type":"boolean"},"question_type":{"type":"string","const":"telegram"}},"required":["id","label","required","question_type"]},{"type":"object","properties":{"id":{"type":"string"},"label":{"type":"string"},"required":{"type":"boolean"},"question_type":{"type":"string","const":"text"}},"required":["id","label","required","question_type"]},{"type":"object","properties":{"id":{"type":"string"},"label":{"type":"string"},"required":{"type":"boolean"},"question_type":{"type":"string","const":"twitter"}},"required":["id","label","required","question_type"]},{"type":"object","properties":{"id":{"type":"string"},"label":{"type":"string"},"required":{"type":"boolean"},"question_type":{"type":"string","const":"url"}},"required":["id","label","required","question_type"]},{"type":"object","properties":{"id":{"type":"string"},"label":{"type":"string"},"required":{"type":"boolean"},"question_type":{"type":"string","const":"youtube"}},"required":["id","label","required","question_type"]},{"type":"object","properties":{"id":{"type":"string"},"label":{"type":"string"},"required":{"type":"boolean"},"question_type":{"type":"string","const":"terms"},"terms":{"oneOf":[{"type":"object","properties":{"content_type":{"type":"string","const":"text"},"content_md":{"type":"string","description":"Markdown content for the terms. Luma converts this to rich text internally."},"collect_signature":{"type":"boolean"},"require_review":{"description":"When true, guests must open the hosted terms before accepting.","type":"boolean"}},"required":["content_type","content_md","collect_signature"]},{"type":"object","properties":{"content_type":{"type":"string","const":"link"},"url":{"type":"string","format":"uri"},"collect_signature":{"type":"boolean"}},"required":["content_type","url","collect_signature"]}]}},"required":["id","label","required","question_type","terms"]}]}},"url":{"type":"string"},"visibility":{"type":"string","enum":["public","members-only","private"]},"waitlist_status":{"type":"string","enum":["disabled","enabled"],"description":"`enabled` if the event has a waitlist. New registrations join the waitlist once the event reaches capacity."},"registration_open":{"type":"boolean","description":"Whether the host is accepting registrations. When `false`, registration is closed and new guests can't sign up. Independent of capacity — a sold-out event with `waitlist_status` disabled still reports `true`."},"require_approval":{"type":"boolean","description":"`true` if registering requires host approval — i.e. any currently available ticket has approval turned on."},"spots_remaining":{"anyOf":[{"type":"number"},{"type":"null"}],"description":"Spots left before the event hits its max capacity. Null when the event has no capacity limit (even if individual ticket types are capped). Refreshed by a background job, so this can lag a few seconds behind registrations."},"display_price":{"anyOf":[{"type":"object","properties":{"amount":{"type":"number","description":"Starting (lowest) ticket price in the currency's minor unit (e.g. cents for USD), tax included."},"currency":{"type":"string","enum":["solana_sol","solana_usdc","aed","afn","all","amd","ang","aoa","ars","aud","awg","azn","bam","bbd","bdt","bgn","bhd","bif","bmd","bnd","bob","brl","bsd","bwp","byn","bzd","cad","cdf","chf","clp","cny","cop","crc","cve","czk","djf","dkk","dop","dzd","egp","etb","eur","fjd","fkp","gbp","gel","ghs","gip","gmd","gnf","gtq","gyd","hkd","hnl","htg","huf","idr","ils","inr","isk","jmd","jod","jpy","kes","kgs","khr","kmf","krw","kwd","kyd","kzt","lak","lbp","lkr","lrd","lsl","mad","mdl","mga","mkd","mmk","mnt","mop","mur","mvr","mwk","mxn","myr","mzn","nad","ngn","nio","nok","npr","nzd","omr","pab","pen","pgk","php","pkr","pln","pyg","qar","ron","rsd","rub","rwf","sar","sbd","scr","sek","sgd","shp","sle","sos","srd","std","szl","thb","tjs","tnd","top","try","ttd","twd","tzs","uah","ugx","usd","uyu","uzs","vnd","vuv","wst","xaf","xcd","xof","xpf","yer","zar","zmw"],"description":"Lowercase ISO 4217 currency code, e.g. `usd`."},"is_flexible":{"type":"boolean","description":"`true` for pay-what-you-want pricing — `amount` is the suggested price and guests can pay more."}},"required":["amount","currency","is_flexible"]},{"type":"null"}],"description":"The starting ticket price shown on the event card. Null when registration is free — or, rarely, when nothing is currently purchasable (e.g. all paid tickets have expired). Refreshed by a background job, so this can lag a few seconds behind ticket changes."},"feedback_email":{"type":"object","properties":{"enabled":{"type":"boolean","description":"Whether to send the feedback email."},"delay":{"description":"How long after the event ends to send the feedback email. Defaults to PT0M (immediately). Maximum is P7D (7 days).","type":"string"}},"required":["enabled"],"description":"Settings for the post-event feedback email sent to guests."},"access":{"type":"string","const":"manage"},"description":{"type":"string"},"description_md":{"type":"string"},"hosts":{"type":"array","items":{"type":"object","properties":{"id":{"type":"string"},"email":{"type":"string"},"name":{"anyOf":[{"type":"string"},{"type":"null"}]},"first_name":{"anyOf":[{"type":"string"},{"type":"null"}]},"last_name":{"anyOf":[{"type":"string"},{"type":"null"}]},"avatar_url":{"type":"string"}},"required":["id","email","name","first_name","last_name","avatar_url"]}},"guest_counts":{"type":"object","properties":{"approved":{"type":"object","properties":{"guests":{"type":"number","description":"Number of guests (people) with this status. A guest who registered for several tickets still counts once here."},"tickets":{"type":"number","description":"Number of tickets held by guests with this status. Pending approval and waitlist count at least one ticket per guest; invited guests hold none, so this is 0."}},"required":["guests","tickets"],"description":"Guests who are going (approved)."},"pending_approval":{"type":"object","properties":{"guests":{"type":"number","description":"Number of guests (people) with this status. A guest who registered for several tickets still counts once here."},"tickets":{"type":"number","description":"Number of tickets held by guests with this status. Pending approval and waitlist count at least one ticket per guest; invited guests hold none, so this is 0."}},"required":["guests","tickets"],"description":"Guests waiting for the host to approve their registration."},"waitlist":{"type":"object","properties":{"guests":{"type":"number","description":"Number of guests (people) with this status. A guest who registered for several tickets still counts once here."},"tickets":{"type":"number","description":"Number of tickets held by guests with this status. Pending approval and waitlist count at least one ticket per guest; invited guests hold none, so this is 0."}},"required":["guests","tickets"],"description":"Guests on the waitlist."},"invited":{"type":"object","properties":{"guests":{"type":"number","description":"Number of guests (people) with this status. A guest who registered for several tickets still counts once here."},"tickets":{"type":"number","description":"Number of tickets held by guests with this status. Pending approval and waitlist count at least one ticket per guest; invited guests hold none, so this is 0."}},"required":["guests","tickets"],"description":"Guests who were invited but haven't registered yet."},"declined":{"type":"object","properties":{"guests":{"type":"number","description":"Number of guests (people) with this status. A guest who registered for several tickets still counts once here."},"tickets":{"type":"number","description":"Number of tickets held by guests with this status. Pending approval and waitlist count at least one ticket per guest; invited guests hold none, so this is 0."}},"required":["guests","tickets"],"description":"Guests who declined their invite."},"checked_in":{"type":"object","properties":{"guests":{"type":"number","description":"Number of guests (people) with this status. A guest who registered for several tickets still counts once here."},"tickets":{"type":"number","description":"Number of tickets held by guests with this status. Pending approval and waitlist count at least one ticket per guest; invited guests hold none, so this is 0."}},"required":["guests","tickets"],"description":"Guests who have checked in at the event."}},"required":["approved","pending_approval","waitlist","invited","declined","checked_in"]}},"required":["platform","id","user_id","calendar_id","start_at","duration_interval","end_at","created_at","timezone","name","geo_address_json","coordinate","meeting_url","location_type","location_visibility","cover_url","url","visibility","waitlist_status","registration_open","require_approval","spots_remaining","display_price","feedback_email","access","description","description_md","hosts","guest_counts"]}}}}}}},"/v1/calendars/get":{"get":{"tags":["Calendars"],"summary":"Get Calendar","parameters":[],"description":"Get information about the calendar.","responses":{"200":{"description":"Successful response.","content":{"application/json":{"schema":{"$schema":"https://json-schema.org/draft/2020-12/schema","type":"object","properties":{"id":{"type":"string"},"name":{"type":"string"},"slug":{"anyOf":[{"type":"string"},{"type":"null"}]},"avatar_url":{"anyOf":[{"type":"string"},{"type":"null"}]},"url":{"type":"string"},"description":{"anyOf":[{"type":"string"},{"type":"null"}]},"social_image_url":{"anyOf":[{"type":"string"},{"type":"null"}]},"cover_image_url":{"anyOf":[{"type":"string"},{"type":"null"}]},"is_personal":{"type":"boolean"},"location":{"anyOf":[{"type":"object","properties":{"city":{"type":"string","description":"City name, e.g. 'New York'."},"region":{"anyOf":[{"type":"string"},{"type":"null"}],"description":"State or province, e.g. 'New York' or 'California'."},"country":{"anyOf":[{"type":"string"},{"type":"null"}],"description":"Country name, e.g. 'United States'. Null for cities in disputed territories where Google omits the country."},"country_code":{"anyOf":[{"type":"string"},{"type":"null"}],"description":"ISO 3166-1 alpha-2 country code, e.g. 'US'."},"timezone":{"type":"string","description":"IANA timezone of the city, e.g. 'America/New_York'."}},"required":["city","region","country","country_code","timezone"]},{"type":"null"}],"description":"City the calendar is based in (e.g. for city calendars). Null when the calendar isn't tied to a place."},"coordinate":{"anyOf":[{"type":"object","properties":{"longitude":{"type":"number"},"latitude":{"type":"number"}},"required":["longitude","latitude"]},{"type":"null"}],"description":"Latitude and longitude of the calendar's primary location (e.g. city calendars). Null when the calendar isn't tied to a place."},"instagram_handle":{"anyOf":[{"type":"string"},{"type":"null"}]},"twitter_handle":{"anyOf":[{"type":"string"},{"type":"null"}]},"youtube_handle":{"anyOf":[{"type":"string"},{"type":"null"}]},"website":{"anyOf":[{"type":"string"},{"type":"null"}]}},"required":["id","name","slug","avatar_url","url","description","social_image_url","cover_image_url","is_personal","location","coordinate","instagram_handle","twitter_handle","youtube_handle","website"]}}}}}}},"/v1/calendars/events/list":{"get":{"tags":["Calendars"],"summary":"List Events","parameters":[{"name":"before","in":"query","required":false,"schema":{"type":"string","format":"date-time","pattern":"^(?:(?:\\d\\d[2468][048]|\\d\\d[13579][26]|\\d\\d0[48]|[02468][048]00|[13579][26]00)-02-29|\\d{4}-(?:(?:0[13578]|1[02])-(?:0[1-9]|[12]\\d|3[01])|(?:0[469]|11)-(?:0[1-9]|[12]\\d|30)|(?:02)-(?:0[1-9]|1\\d|2[0-8])))T(?:(?:[01]\\d|2[0-3]):[0-5]\\d(?::[0-5]\\d(?:\\.\\d+)?)?(?:Z|([+-](?:[01]\\d|2[0-3]):[0-5]\\d)))$","description":"ISO 8601 Datetime. For example, 2022-10-19T03:27:13.673Z"},"description":"ISO 8601 Datetime. For example, 2022-10-19T03:27:13.673Z"},{"name":"after","in":"query","required":false,"schema":{"type":"string","format":"date-time","pattern":"^(?:(?:\\d\\d[2468][048]|\\d\\d[13579][26]|\\d\\d0[48]|[02468][048]00|[13579][26]00)-02-29|\\d{4}-(?:(?:0[13578]|1[02])-(?:0[1-9]|[12]\\d|3[01])|(?:0[469]|11)-(?:0[1-9]|[12]\\d|30)|(?:02)-(?:0[1-9]|1\\d|2[0-8])))T(?:(?:[01]\\d|2[0-3]):[0-5]\\d(?::[0-5]\\d(?:\\.\\d+)?)?(?:Z|([+-](?:[01]\\d|2[0-3]):[0-5]\\d)))$","description":"ISO 8601 Datetime. For example, 2022-10-19T03:27:13.673Z"},"description":"ISO 8601 Datetime. For example, 2022-10-19T03:27:13.673Z"},{"name":"pagination_cursor","in":"query","required":false,"schema":{"description":"Value of `next_cursor` from a previous request.","type":"string"},"description":"Value of `next_cursor` from a previous request."},{"name":"pagination_limit","in":"query","required":false,"schema":{"description":"The number of items to return. The server will enforce a maximum number.","type":"number"},"description":"The number of items to return. The server will enforce a maximum number."},{"name":"platforms","in":"query","required":false,"schema":{"description":"Which event platforms to include. Defaults to `luma` for backwards compatibility. Pass as repeated query params, e.g. `?platforms=luma&platforms=external`.","type":"array","items":{"type":"string","enum":["luma","external"]}},"description":"Which event platforms to include. Defaults to `luma` for backwards compatibility. Pass as repeated query params, e.g. `?platforms=luma&platforms=external`."},{"name":"sort_column","in":"query","required":false,"schema":{"type":"string","enum":["start_at"]}},{"name":"sort_direction","in":"query","required":false,"schema":{"type":"string","enum":["asc","desc","asc nulls last","desc nulls last"]}},{"name":"status","in":"query","required":false,"schema":{"description":"Filter by calendar submission status. Defaults to `approved`.","type":"string","enum":["approved","pending"]},"description":"Filter by calendar submission status. Defaults to `approved`."},{"name":"access","in":"query","required":false,"schema":{"description":"Which access values to include (`manage`, `view`). Defaults to `manage`, returning only events the Calendar manages. Pass as repeated query params, e.g. `?access=manage&access=view`. Include `view` to also return events that are listed on the Calendar but managed elsewhere — those entries come back with `access: \"view\"`, their location obfuscated to city level, and host-only fields like `meeting_url`, `registration_questions`, and `feedback_email` omitted.","type":"array","items":{"type":"string","enum":["manage","view"]}},"description":"Which access values to include (`manage`, `view`). Defaults to `manage`, returning only events the Calendar manages. Pass as repeated query params, e.g. `?access=manage&access=view`. Include `view` to also return events that are listed on the Calendar but managed elsewhere — those entries come back with `access: \"view\"`, their location obfuscated to city level, and host-only fields like `meeting_url`, `registration_questions`, and `feedback_email` omitted."}],"description":"Every event and API key on Luma is managed by a [Luma Calendar](https://help.luma.com/p/luma-calendar-overview). By default this lists the events your Calendar manages.\n\nEach event includes an `access` field. Pass `access=manage&access=view` to also return events that are listed on the Calendar but managed elsewhere — those come back with `access: \"view\"`, their location obfuscated to city level, and host-only fields like `meeting_url`, `registration_questions`, and `feedback_email` omitted. Private events the Calendar doesn't manage are never returned.","responses":{"200":{"description":"Successful response.","content":{"application/json":{"schema":{"$schema":"https://json-schema.org/draft/2020-12/schema","type":"object","properties":{"entries":{"type":"array","items":{"allOf":[{"oneOf":[{"oneOf":[{"type":"object","properties":{"platform":{"type":"string","const":"luma"},"id":{"type":"string"},"user_id":{"type":"string"},"calendar_id":{"type":"string"},"start_at":{"type":"string","format":"date-time","pattern":"^(?:(?:\\d\\d[2468][048]|\\d\\d[13579][26]|\\d\\d0[48]|[02468][048]00|[13579][26]00)-02-29|\\d{4}-(?:(?:0[13578]|1[02])-(?:0[1-9]|[12]\\d|3[01])|(?:0[469]|11)-(?:0[1-9]|[12]\\d|30)|(?:02)-(?:0[1-9]|1\\d|2[0-8])))T(?:(?:[01]\\d|2[0-3]):[0-5]\\d(?::[0-5]\\d(?:\\.\\d+)?)?(?:Z|([+-](?:[01]\\d|2[0-3]):[0-5]\\d)))$","description":"ISO 8601 Datetime. For example, 2022-10-19T03:27:13.673Z"},"duration_interval":{"type":"string"},"end_at":{"type":"string","format":"date-time","pattern":"^(?:(?:\\d\\d[2468][048]|\\d\\d[13579][26]|\\d\\d0[48]|[02468][048]00|[13579][26]00)-02-29|\\d{4}-(?:(?:0[13578]|1[02])-(?:0[1-9]|[12]\\d|3[01])|(?:0[469]|11)-(?:0[1-9]|[12]\\d|30)|(?:02)-(?:0[1-9]|1\\d|2[0-8])))T(?:(?:[01]\\d|2[0-3]):[0-5]\\d(?::[0-5]\\d(?:\\.\\d+)?)?(?:Z|([+-](?:[01]\\d|2[0-3]):[0-5]\\d)))$","description":"ISO 8601 Datetime. For example, 2022-10-19T03:27:13.673Z"},"created_at":{"type":"string","format":"date-time","pattern":"^(?:(?:\\d\\d[2468][048]|\\d\\d[13579][26]|\\d\\d0[48]|[02468][048]00|[13579][26]00)-02-29|\\d{4}-(?:(?:0[13578]|1[02])-(?:0[1-9]|[12]\\d|3[01])|(?:0[469]|11)-(?:0[1-9]|[12]\\d|30)|(?:02)-(?:0[1-9]|1\\d|2[0-8])))T(?:(?:[01]\\d|2[0-3]):[0-5]\\d(?::[0-5]\\d(?:\\.\\d+)?)?(?:Z|([+-](?:[01]\\d|2[0-3]):[0-5]\\d)))$","description":"ISO 8601 Datetime. For example, 2022-10-19T03:27:13.673Z"},"timezone":{"type":"string","description":"IANA Timezone, e.g. America/New_York. https://en.wikipedia.org/wiki/List_of_tz_database_time_zones"},"name":{"type":"string"},"cover_url":{"type":"string"},"url":{"type":"string"},"visibility":{"type":"string","enum":["public","members-only","private"]},"location_type":{"type":"string","enum":["discord","meet","twitch","twitter","youtube","zoom","offline","missing","unknown"],"description":"`offline` for in-person events. Online events have the meeting platform (`zoom`, `meet`, etc.), or `unknown` if we don't recognize the meeting link. `missing` if the event has no location set."},"location_visibility":{"type":"string","enum":["public","guests-only"],"description":"Whether the event's address is shown to everyone or only to approved guests. This API always returns the full address."},"waitlist_status":{"type":"string","enum":["disabled","enabled"],"description":"`enabled` if the event has a waitlist. New registrations join the waitlist once the event reaches capacity."},"access":{"type":"string","const":"view"},"geo_address_json":{"anyOf":[{"type":"object","properties":{"address":{"type":"string"},"city":{"anyOf":[{"type":"string"},{"type":"null"}]},"region":{"anyOf":[{"type":"string"},{"type":"null"}]},"country":{"anyOf":[{"type":"string"},{"type":"null"}]},"city_state":{"anyOf":[{"type":"string"},{"type":"null"}]},"full_address":{"anyOf":[{"type":"string"},{"type":"null"}]},"google_maps_place_id":{"anyOf":[{"type":"string"},{"type":"null"}]},"apple_maps_place_id":{"anyOf":[{"type":"string"},{"type":"null"}]},"description":{"anyOf":[{"type":"string"},{"type":"null"}]}},"required":["address","city","region","country","city_state","full_address","google_maps_place_id","apple_maps_place_id","description"]},{"type":"null"}],"description":"Address info for events you don't manage. When the host has set the address to be visible only to guests, only city-level fields (city, region, country, city_state) are populated."},"coordinate":{"anyOf":[{"type":"object","properties":{"longitude":{"type":"number"},"latitude":{"type":"number"}},"required":["longitude","latitude"]},{"type":"null"}],"description":"Latitude and longitude of the event. Obfuscated to a coarse area when the host has set the address to be visible only to guests. Null for online events or when no coordinate is set."}},"required":["platform","id","user_id","calendar_id","start_at","duration_interval","end_at","created_at","timezone","name","cover_url","url","visibility","location_type","location_visibility","waitlist_status","access","geo_address_json","coordinate"]},{"type":"object","properties":{"platform":{"type":"string","const":"luma"},"id":{"type":"string"},"user_id":{"type":"string"},"calendar_id":{"type":"string"},"start_at":{"type":"string","format":"date-time","pattern":"^(?:(?:\\d\\d[2468][048]|\\d\\d[13579][26]|\\d\\d0[48]|[02468][048]00|[13579][26]00)-02-29|\\d{4}-(?:(?:0[13578]|1[02])-(?:0[1-9]|[12]\\d|3[01])|(?:0[469]|11)-(?:0[1-9]|[12]\\d|30)|(?:02)-(?:0[1-9]|1\\d|2[0-8])))T(?:(?:[01]\\d|2[0-3]):[0-5]\\d(?::[0-5]\\d(?:\\.\\d+)?)?(?:Z|([+-](?:[01]\\d|2[0-3]):[0-5]\\d)))$","description":"ISO 8601 Datetime. For example, 2022-10-19T03:27:13.673Z"},"duration_interval":{"type":"string"},"end_at":{"type":"string","format":"date-time","pattern":"^(?:(?:\\d\\d[2468][048]|\\d\\d[13579][26]|\\d\\d0[48]|[02468][048]00|[13579][26]00)-02-29|\\d{4}-(?:(?:0[13578]|1[02])-(?:0[1-9]|[12]\\d|3[01])|(?:0[469]|11)-(?:0[1-9]|[12]\\d|30)|(?:02)-(?:0[1-9]|1\\d|2[0-8])))T(?:(?:[01]\\d|2[0-3]):[0-5]\\d(?::[0-5]\\d(?:\\.\\d+)?)?(?:Z|([+-](?:[01]\\d|2[0-3]):[0-5]\\d)))$","description":"ISO 8601 Datetime. For example, 2022-10-19T03:27:13.673Z"},"created_at":{"type":"string","format":"date-time","pattern":"^(?:(?:\\d\\d[2468][048]|\\d\\d[13579][26]|\\d\\d0[48]|[02468][048]00|[13579][26]00)-02-29|\\d{4}-(?:(?:0[13578]|1[02])-(?:0[1-9]|[12]\\d|3[01])|(?:0[469]|11)-(?:0[1-9]|[12]\\d|30)|(?:02)-(?:0[1-9]|1\\d|2[0-8])))T(?:(?:[01]\\d|2[0-3]):[0-5]\\d(?::[0-5]\\d(?:\\.\\d+)?)?(?:Z|([+-](?:[01]\\d|2[0-3]):[0-5]\\d)))$","description":"ISO 8601 Datetime. For example, 2022-10-19T03:27:13.673Z"},"timezone":{"type":"string","description":"IANA Timezone, e.g. America/New_York. https://en.wikipedia.org/wiki/List_of_tz_database_time_zones"},"name":{"type":"string"},"geo_address_json":{"anyOf":[{"type":"object","properties":{"address":{"type":"string"},"city":{"anyOf":[{"type":"string"},{"type":"null"}]},"region":{"anyOf":[{"type":"string"},{"type":"null"}]},"country":{"anyOf":[{"type":"string"},{"type":"null"}]},"city_state":{"anyOf":[{"type":"string"},{"type":"null"}]},"full_address":{"anyOf":[{"type":"string"},{"type":"null"}]},"google_maps_place_id":{"anyOf":[{"type":"string"},{"type":"null"}]},"apple_maps_place_id":{"anyOf":[{"type":"string"},{"type":"null"}]},"description":{"anyOf":[{"type":"string"},{"type":"null"}]}},"required":["address","city","region","country","city_state","full_address","google_maps_place_id","apple_maps_place_id","description"]},{"type":"null"}]},"coordinate":{"anyOf":[{"type":"object","properties":{"longitude":{"type":"number"},"latitude":{"type":"number"}},"required":["longitude","latitude"]},{"type":"null"}],"description":"Latitude and longitude of the event location. Null for online events or when the address can't be geocoded."},"meeting_url":{"anyOf":[{"type":"string"},{"type":"null"}]},"location_type":{"type":"string","enum":["discord","meet","twitch","twitter","youtube","zoom","offline","missing","unknown"],"description":"`offline` for in-person events. Online events have the meeting platform (`zoom`, `meet`, etc.), or `unknown` if we don't recognize the meeting link. `missing` if the event has no location set."},"location_visibility":{"type":"string","enum":["public","guests-only"],"description":"Whether the event's address is shown to everyone or only to approved guests. This API always returns the full address."},"cover_url":{"type":"string"},"registration_questions":{"type":"array","items":{"anyOf":[{"type":"object","properties":{"id":{"type":"string"},"label":{"type":"string"},"required":{"type":"boolean"},"question_type":{"type":"string","const":"agree-check"}},"required":["id","label","required","question_type"]},{"type":"object","properties":{"id":{"type":"string"},"label":{"type":"string"},"required":{"type":"boolean"},"question_type":{"type":"string","const":"company"},"collect_job_title":{"anyOf":[{"type":"boolean"},{"type":"null"}]},"job_title_label":{"anyOf":[{"type":"string"},{"type":"null"}]}},"required":["id","label","required","question_type"]},{"type":"object","properties":{"id":{"type":"string"},"label":{"type":"string"},"required":{"type":"boolean"},"question_type":{"type":"string","const":"dropdown"},"options":{"maxItems":250,"type":"array","items":{"type":"string"}}},"required":["id","label","required","question_type","options"]},{"type":"object","properties":{"id":{"type":"string"},"label":{"type":"string"},"required":{"type":"boolean"},"question_type":{"type":"string","const":"github"}},"required":["id","label","required","question_type"]},{"type":"object","properties":{"id":{"type":"string"},"label":{"type":"string"},"required":{"type":"boolean"},"question_type":{"type":"string","const":"instagram"}},"required":["id","label","required","question_type"]},{"type":"object","properties":{"id":{"type":"string"},"label":{"type":"string"},"required":{"type":"boolean"},"question_type":{"type":"string","const":"linkedin"}},"required":["id","label","required","question_type"]},{"type":"object","properties":{"id":{"type":"string"},"label":{"type":"string"},"required":{"type":"boolean"},"question_type":{"type":"string","const":"long-text"}},"required":["id","label","required","question_type"]},{"type":"object","properties":{"id":{"type":"string"},"label":{"type":"string"},"required":{"type":"boolean"},"question_type":{"type":"string","const":"multi-select"},"options":{"maxItems":250,"type":"array","items":{"type":"string"}}},"required":["id","label","required","question_type","options"]},{"type":"object","properties":{"id":{"type":"string"},"label":{"type":"string"},"required":{"type":"boolean"},"question_type":{"type":"string","const":"phone-number"}},"required":["id","label","required","question_type"]},{"type":"object","properties":{"id":{"type":"string"},"label":{"type":"string"},"required":{"type":"boolean"},"question_type":{"type":"string","const":"telegram"}},"required":["id","label","required","question_type"]},{"type":"object","properties":{"id":{"type":"string"},"label":{"type":"string"},"required":{"type":"boolean"},"question_type":{"type":"string","const":"text"}},"required":["id","label","required","question_type"]},{"type":"object","properties":{"id":{"type":"string"},"label":{"type":"string"},"required":{"type":"boolean"},"question_type":{"type":"string","const":"twitter"}},"required":["id","label","required","question_type"]},{"type":"object","properties":{"id":{"type":"string"},"label":{"type":"string"},"required":{"type":"boolean"},"question_type":{"type":"string","const":"url"}},"required":["id","label","required","question_type"]},{"type":"object","properties":{"id":{"type":"string"},"label":{"type":"string"},"required":{"type":"boolean"},"question_type":{"type":"string","const":"youtube"}},"required":["id","label","required","question_type"]},{"type":"object","properties":{"id":{"type":"string"},"label":{"type":"string"},"required":{"type":"boolean"},"question_type":{"type":"string","const":"terms"},"terms":{"oneOf":[{"type":"object","properties":{"content_type":{"type":"string","const":"text"},"content_md":{"type":"string","description":"Markdown content for the terms. Luma converts this to rich text internally."},"collect_signature":{"type":"boolean"},"require_review":{"description":"When true, guests must open the hosted terms before accepting.","type":"boolean"}},"required":["content_type","content_md","collect_signature"]},{"type":"object","properties":{"content_type":{"type":"string","const":"link"},"url":{"type":"string","format":"uri"},"collect_signature":{"type":"boolean"}},"required":["content_type","url","collect_signature"]}]}},"required":["id","label","required","question_type","terms"]}]}},"url":{"type":"string"},"visibility":{"type":"string","enum":["public","members-only","private"]},"waitlist_status":{"type":"string","enum":["disabled","enabled"],"description":"`enabled` if the event has a waitlist. New registrations join the waitlist once the event reaches capacity."},"registration_open":{"type":"boolean","description":"Whether the host is accepting registrations. When `false`, registration is closed and new guests can't sign up. Independent of capacity — a sold-out event with `waitlist_status` disabled still reports `true`."},"require_approval":{"type":"boolean","description":"`true` if registering requires host approval — i.e. any currently available ticket has approval turned on."},"spots_remaining":{"anyOf":[{"type":"number"},{"type":"null"}],"description":"Spots left before the event hits its max capacity. Null when the event has no capacity limit (even if individual ticket types are capped). Refreshed by a background job, so this can lag a few seconds behind registrations."},"display_price":{"anyOf":[{"type":"object","properties":{"amount":{"type":"number","description":"Starting (lowest) ticket price in the currency's minor unit (e.g. cents for USD), tax included."},"currency":{"type":"string","enum":["solana_sol","solana_usdc","aed","afn","all","amd","ang","aoa","ars","aud","awg","azn","bam","bbd","bdt","bgn","bhd","bif","bmd","bnd","bob","brl","bsd","bwp","byn","bzd","cad","cdf","chf","clp","cny","cop","crc","cve","czk","djf","dkk","dop","dzd","egp","etb","eur","fjd","fkp","gbp","gel","ghs","gip","gmd","gnf","gtq","gyd","hkd","hnl","htg","huf","idr","ils","inr","isk","jmd","jod","jpy","kes","kgs","khr","kmf","krw","kwd","kyd","kzt","lak","lbp","lkr","lrd","lsl","mad","mdl","mga","mkd","mmk","mnt","mop","mur","mvr","mwk","mxn","myr","mzn","nad","ngn","nio","nok","npr","nzd","omr","pab","pen","pgk","php","pkr","pln","pyg","qar","ron","rsd","rub","rwf","sar","sbd","scr","sek","sgd","shp","sle","sos","srd","std","szl","thb","tjs","tnd","top","try","ttd","twd","tzs","uah","ugx","usd","uyu","uzs","vnd","vuv","wst","xaf","xcd","xof","xpf","yer","zar","zmw"],"description":"Lowercase ISO 4217 currency code, e.g. `usd`."},"is_flexible":{"type":"boolean","description":"`true` for pay-what-you-want pricing — `amount` is the suggested price and guests can pay more."}},"required":["amount","currency","is_flexible"]},{"type":"null"}],"description":"The starting ticket price shown on the event card. Null when registration is free — or, rarely, when nothing is currently purchasable (e.g. all paid tickets have expired). Refreshed by a background job, so this can lag a few seconds behind ticket changes."},"feedback_email":{"type":"object","properties":{"enabled":{"type":"boolean","description":"Whether to send the feedback email."},"delay":{"description":"How long after the event ends to send the feedback email. Defaults to PT0M (immediately). Maximum is P7D (7 days).","type":"string"}},"required":["enabled"],"description":"Settings for the post-event feedback email sent to guests."},"access":{"type":"string","const":"manage"}},"required":["platform","id","user_id","calendar_id","start_at","duration_interval","end_at","created_at","timezone","name","geo_address_json","coordinate","meeting_url","location_type","location_visibility","cover_url","url","visibility","waitlist_status","registration_open","require_approval","spots_remaining","display_price","feedback_email","access"]}]},{"type":"object","properties":{"platform":{"type":"string","const":"external"},"id":{"type":"string"},"calendar_id":{"type":"string"},"start_at":{"type":"string","format":"date-time","pattern":"^(?:(?:\\d\\d[2468][048]|\\d\\d[13579][26]|\\d\\d0[48]|[02468][048]00|[13579][26]00)-02-29|\\d{4}-(?:(?:0[13578]|1[02])-(?:0[1-9]|[12]\\d|3[01])|(?:0[469]|11)-(?:0[1-9]|[12]\\d|30)|(?:02)-(?:0[1-9]|1\\d|2[0-8])))T(?:(?:[01]\\d|2[0-3]):[0-5]\\d(?::[0-5]\\d(?:\\.\\d+)?)?(?:Z|([+-](?:[01]\\d|2[0-3]):[0-5]\\d)))$","description":"ISO 8601 Datetime. For example, 2022-10-19T03:27:13.673Z"},"duration_interval":{"type":"string"},"end_at":{"type":"string","format":"date-time","pattern":"^(?:(?:\\d\\d[2468][048]|\\d\\d[13579][26]|\\d\\d0[48]|[02468][048]00|[13579][26]00)-02-29|\\d{4}-(?:(?:0[13578]|1[02])-(?:0[1-9]|[12]\\d|3[01])|(?:0[469]|11)-(?:0[1-9]|[12]\\d|30)|(?:02)-(?:0[1-9]|1\\d|2[0-8])))T(?:(?:[01]\\d|2[0-3]):[0-5]\\d(?::[0-5]\\d(?:\\.\\d+)?)?(?:Z|([+-](?:[01]\\d|2[0-3]):[0-5]\\d)))$","description":"ISO 8601 Datetime. For example, 2022-10-19T03:27:13.673Z"},"created_at":{"type":"string","format":"date-time","pattern":"^(?:(?:\\d\\d[2468][048]|\\d\\d[13579][26]|\\d\\d0[48]|[02468][048]00|[13579][26]00)-02-29|\\d{4}-(?:(?:0[13578]|1[02])-(?:0[1-9]|[12]\\d|3[01])|(?:0[469]|11)-(?:0[1-9]|[12]\\d|30)|(?:02)-(?:0[1-9]|1\\d|2[0-8])))T(?:(?:[01]\\d|2[0-3]):[0-5]\\d(?::[0-5]\\d(?:\\.\\d+)?)?(?:Z|([+-](?:[01]\\d|2[0-3]):[0-5]\\d)))$","description":"ISO 8601 Datetime. For example, 2022-10-19T03:27:13.673Z"},"timezone":{"type":"string","description":"IANA Timezone, e.g. America/New_York. https://en.wikipedia.org/wiki/List_of_tz_database_time_zones"},"name":{"type":"string"},"geo_address_json":{"anyOf":[{"type":"object","properties":{"address":{"type":"string"},"city":{"anyOf":[{"type":"string"},{"type":"null"}]},"region":{"anyOf":[{"type":"string"},{"type":"null"}]},"country":{"anyOf":[{"type":"string"},{"type":"null"}]},"city_state":{"anyOf":[{"type":"string"},{"type":"null"}]},"full_address":{"anyOf":[{"type":"string"},{"type":"null"}]},"google_maps_place_id":{"anyOf":[{"type":"string"},{"type":"null"}]},"apple_maps_place_id":{"anyOf":[{"type":"string"},{"type":"null"}]},"description":{"anyOf":[{"type":"string"},{"type":"null"}]}},"required":["address","city","region","country","city_state","full_address","google_maps_place_id","apple_maps_place_id","description"]},{"type":"null"}]},"coordinate":{"anyOf":[{"type":"object","properties":{"longitude":{"type":"number"},"latitude":{"type":"number"}},"required":["longitude","latitude"]},{"type":"null"}],"description":"Latitude and longitude of the event location. Null for online events or when the address can't be geocoded."},"url":{"type":"string"},"host":{"anyOf":[{"type":"string"},{"type":"null"}]}},"required":["platform","id","calendar_id","start_at","duration_interval","end_at","created_at","timezone","name","geo_address_json","coordinate","url","host"]}]},{"type":"object","properties":{"tags":{"type":"array","items":{"type":"object","properties":{"id":{"type":"string"},"name":{"type":"string"}},"required":["id","name"]}},"submitted_by":{"anyOf":[{"type":"object","properties":{"id":{"type":"string"},"name":{"anyOf":[{"type":"string"},{"type":"null"}]},"avatar_url":{"type":"string"},"email":{"anyOf":[{"type":"string"},{"type":"null"}],"description":"The submitter's account email. Null when not returned."},"first_name":{"anyOf":[{"type":"string"},{"type":"null"}]},"last_name":{"anyOf":[{"type":"string"},{"type":"null"}]}},"required":["id","name","avatar_url","email","first_name","last_name"]},{"type":"null"}],"description":"The user who submitted or added this event to the calendar. Null when the submitter's account no longer exists or is blocked."}},"required":["tags","submitted_by"]}]}},"has_more":{"type":"boolean"},"next_cursor":{"type":"string"}},"required":["entries","has_more"]}}}}}}},"/v1/events/guests/get":{"get":{"tags":["Events"],"summary":"Get Guest","parameters":[{"name":"event_id","in":"query","required":true,"schema":{"type":"string","description":"Event ID, this usually starts with evt-"},"description":"Event ID, this usually starts with evt-"},{"name":"id","in":"query","required":true,"schema":{"type":"string","description":"Guest identifier — the guest ID (gst-), a ticket key, a guest key (g-), or the user's email."},"description":"Guest identifier — the guest ID (gst-), a ticket key, a guest key (g-), or the user's email."}],"description":"Get detailed information for an event guest by looking them up by their ID. This supports looking them up by different parameters.\n\nThis response includes `event_ticket_orders`, which includes `coupon_info` when a coupon was applied.","responses":{"200":{"description":"Successful response.","content":{"application/json":{"schema":{"$schema":"https://json-schema.org/draft/2020-12/schema","type":"object","properties":{"id":{"type":"string"},"user_id":{"type":"string"},"user_email":{"type":"string"},"user_name":{"anyOf":[{"type":"string"},{"type":"null"}]},"user_first_name":{"anyOf":[{"type":"string"},{"type":"null"}]},"user_last_name":{"anyOf":[{"type":"string"},{"type":"null"}]},"approval_status":{"type":"string","enum":["approved","session","pending_approval","invited","declined","waitlist"]},"check_in_qr_code":{"type":"string"},"eth_address":{"anyOf":[{"type":"string","pattern":"^0x[0-9a-fA-F]{40}$"},{"type":"null"}]},"invited_at":{"anyOf":[{"type":"string","format":"date-time","pattern":"^(?:(?:\\d\\d[2468][048]|\\d\\d[13579][26]|\\d\\d0[48]|[02468][048]00|[13579][26]00)-02-29|\\d{4}-(?:(?:0[13578]|1[02])-(?:0[1-9]|[12]\\d|3[01])|(?:0[469]|11)-(?:0[1-9]|[12]\\d|30)|(?:02)-(?:0[1-9]|1\\d|2[0-8])))T(?:(?:[01]\\d|2[0-3]):[0-5]\\d(?::[0-5]\\d(?:\\.\\d+)?)?(?:Z|([+-](?:[01]\\d|2[0-3]):[0-5]\\d)))$","description":"ISO 8601 Datetime. For example, 2022-10-19T03:27:13.673Z"},{"type":"null"}],"description":"When the guest was invited to the event. Null if they registered on their own."},"joined_at":{"anyOf":[{"type":"string","format":"date-time","pattern":"^(?:(?:\\d\\d[2468][048]|\\d\\d[13579][26]|\\d\\d0[48]|[02468][048]00|[13579][26]00)-02-29|\\d{4}-(?:(?:0[13578]|1[02])-(?:0[1-9]|[12]\\d|3[01])|(?:0[469]|11)-(?:0[1-9]|[12]\\d|30)|(?:02)-(?:0[1-9]|1\\d|2[0-8])))T(?:(?:[01]\\d|2[0-3]):[0-5]\\d(?::[0-5]\\d(?:\\.\\d+)?)?(?:Z|([+-](?:[01]\\d|2[0-3]):[0-5]\\d)))$","description":"ISO 8601 Datetime. For example, 2022-10-19T03:27:13.673Z"},{"type":"null"}],"description":"When the guest first clicked the virtual join link (luma.com/join/...). Only set for online events. Null if the guest has not joined."},"phone_number":{"anyOf":[{"type":"string"},{"type":"null"}]},"registered_at":{"anyOf":[{"type":"string","format":"date-time","pattern":"^(?:(?:\\d\\d[2468][048]|\\d\\d[13579][26]|\\d\\d0[48]|[02468][048]00|[13579][26]00)-02-29|\\d{4}-(?:(?:0[13578]|1[02])-(?:0[1-9]|[12]\\d|3[01])|(?:0[469]|11)-(?:0[1-9]|[12]\\d|30)|(?:02)-(?:0[1-9]|1\\d|2[0-8])))T(?:(?:[01]\\d|2[0-3]):[0-5]\\d(?::[0-5]\\d(?:\\.\\d+)?)?(?:Z|([+-](?:[01]\\d|2[0-3]):[0-5]\\d)))$","description":"ISO 8601 Datetime. For example, 2022-10-19T03:27:13.673Z"},{"type":"null"}],"description":"When the guest registered for the event."},"registration_answers":{"anyOf":[{"type":"array","items":{"anyOf":[{"type":"object","properties":{"label":{"type":"string"},"question_id":{"type":"string"},"value":{"type":"boolean"},"question_type":{"type":"string","const":"agree-check"}},"required":["label","question_id","question_type"]},{"type":"object","properties":{"label":{"type":"string"},"question_id":{"type":"string"},"value":{"type":"object","properties":{"company":{"anyOf":[{"type":"string"},{"type":"null"}]},"job_title":{"anyOf":[{"type":"string"},{"type":"null"}]}}},"question_type":{"type":"string","const":"company"}},"required":["label","question_id","value","question_type"]},{"type":"object","properties":{"label":{"type":"string"},"question_id":{"type":"string"},"value":{"anyOf":[{"type":"string"},{"type":"null"}]},"question_type":{"type":"string","const":"dropdown"}},"required":["label","question_id","value","question_type"]},{"type":"object","properties":{"label":{"type":"string"},"question_id":{"type":"string"},"value":{"anyOf":[{"type":"array","items":{"type":"string"}},{"type":"null"}]},"question_type":{"type":"string","const":"multi-select"}},"required":["label","question_id","value","question_type"]},{"type":"object","properties":{"label":{"type":"string"},"question_id":{"type":"string"},"value":{"anyOf":[{"type":"string"},{"type":"null"}]},"question_type":{"type":"string","const":"phone-number"}},"required":["label","question_id","value","question_type"]},{"type":"object","properties":{"label":{"type":"string"},"question_id":{"type":"string"},"value":{"anyOf":[{"anyOf":[{"type":"string"},{"type":"boolean","const":true}]},{"type":"null"}]},"question_type":{"type":"string","const":"terms"}},"required":["label","question_id","question_type"]},{"type":"object","properties":{"label":{"type":"string"},"question_id":{"type":"string"},"value":{"anyOf":[{"type":"string"},{"type":"null"}]},"question_type":{"anyOf":[{"type":"string","const":"github"},{"type":"string","const":"instagram"},{"type":"string","const":"linkedin"},{"type":"string","const":"long-text"},{"type":"string","const":"telegram"},{"type":"string","const":"text"},{"type":"string","const":"twitter"},{"type":"string","const":"youtube"}]}},"required":["label","question_id","value","question_type"]},{"type":"object","properties":{"label":{"type":"string"},"question_id":{"type":"string"},"value":{"anyOf":[{"type":"string"},{"type":"null"}]},"question_type":{"type":"string","const":"url"}},"required":["label","question_id","value","question_type"]}]}},{"type":"null"}]},"solana_address":{"anyOf":[{"type":"string","pattern":"^[5KL1-9A-HJ-NP-Za-km-z]{32,44}$"},{"type":"null"}]},"utm_source":{"anyOf":[{"type":"string"},{"type":"null"}],"description":"The UTM source parameter captured when the guest registered (from the `?utm_source=` query parameter)."},"event_tickets":{"type":"array","items":{"type":"object","properties":{"id":{"type":"string"},"amount":{"type":"number"},"amount_discount":{"type":"number"},"amount_tax":{"type":"number"},"currency":{"anyOf":[{"type":"string","enum":["solana_sol","solana_usdc","aed","afn","all","amd","ang","aoa","ars","aud","awg","azn","bam","bbd","bdt","bgn","bhd","bif","bmd","bnd","bob","brl","bsd","bwp","byn","bzd","cad","cdf","chf","clp","cny","cop","crc","cve","czk","djf","dkk","dop","dzd","egp","etb","eur","fjd","fkp","gbp","gel","ghs","gip","gmd","gnf","gtq","gyd","hkd","hnl","htg","huf","idr","ils","inr","isk","jmd","jod","jpy","kes","kgs","khr","kmf","krw","kwd","kyd","kzt","lak","lbp","lkr","lrd","lsl","mad","mdl","mga","mkd","mmk","mnt","mop","mur","mvr","mwk","mxn","myr","mzn","nad","ngn","nio","nok","npr","nzd","omr","pab","pen","pgk","php","pkr","pln","pyg","qar","ron","rsd","rub","rwf","sar","sbd","scr","sek","sgd","shp","sle","sos","srd","std","szl","thb","tjs","tnd","top","try","ttd","twd","tzs","uah","ugx","usd","uyu","uzs","vnd","vuv","wst","xaf","xcd","xof","xpf","yer","zar","zmw"]},{"type":"null"}]},"checked_in_at":{"anyOf":[{"type":"string","format":"date-time","pattern":"^(?:(?:\\d\\d[2468][048]|\\d\\d[13579][26]|\\d\\d0[48]|[02468][048]00|[13579][26]00)-02-29|\\d{4}-(?:(?:0[13578]|1[02])-(?:0[1-9]|[12]\\d|3[01])|(?:0[469]|11)-(?:0[1-9]|[12]\\d|30)|(?:02)-(?:0[1-9]|1\\d|2[0-8])))T(?:(?:[01]\\d|2[0-3]):[0-5]\\d(?::[0-5]\\d(?:\\.\\d+)?)?(?:Z|([+-](?:[01]\\d|2[0-3]):[0-5]\\d)))$","description":"ISO 8601 Datetime. For example, 2022-10-19T03:27:13.673Z"},{"type":"null"}]},"event_ticket_type_id":{"type":"string"},"is_captured":{"type":"boolean"},"name":{"type":"string"}},"required":["id","amount","amount_discount","amount_tax","currency","checked_in_at","event_ticket_type_id","is_captured","name"]}},"event_ticket_orders":{"type":"array","items":{"type":"object","properties":{"id":{"type":"string"},"amount":{"type":"number"},"amount_discount":{"type":"number"},"amount_tax":{"type":"number"},"currency":{"anyOf":[{"type":"string","enum":["solana_sol","solana_usdc","aed","afn","all","amd","ang","aoa","ars","aud","awg","azn","bam","bbd","bdt","bgn","bhd","bif","bmd","bnd","bob","brl","bsd","bwp","byn","bzd","cad","cdf","chf","clp","cny","cop","crc","cve","czk","djf","dkk","dop","dzd","egp","etb","eur","fjd","fkp","gbp","gel","ghs","gip","gmd","gnf","gtq","gyd","hkd","hnl","htg","huf","idr","ils","inr","isk","jmd","jod","jpy","kes","kgs","khr","kmf","krw","kwd","kyd","kzt","lak","lbp","lkr","lrd","lsl","mad","mdl","mga","mkd","mmk","mnt","mop","mur","mvr","mwk","mxn","myr","mzn","nad","ngn","nio","nok","npr","nzd","omr","pab","pen","pgk","php","pkr","pln","pyg","qar","ron","rsd","rub","rwf","sar","sbd","scr","sek","sgd","shp","sle","sos","srd","std","szl","thb","tjs","tnd","top","try","ttd","twd","tzs","uah","ugx","usd","uyu","uzs","vnd","vuv","wst","xaf","xcd","xof","xpf","yer","zar","zmw"]},{"type":"null"}]},"coupon_info":{"anyOf":[{"type":"object","properties":{"api_id":{"type":"string"},"percent_off":{"anyOf":[{"type":"number"},{"type":"null"}]},"cents_off":{"anyOf":[{"type":"number"},{"type":"null"}]},"currency":{"anyOf":[{"type":"string","enum":["solana_sol","solana_usdc","aed","afn","all","amd","ang","aoa","ars","aud","awg","azn","bam","bbd","bdt","bgn","bhd","bif","bmd","bnd","bob","brl","bsd","bwp","byn","bzd","cad","cdf","chf","clp","cny","cop","crc","cve","czk","djf","dkk","dop","dzd","egp","etb","eur","fjd","fkp","gbp","gel","ghs","gip","gmd","gnf","gtq","gyd","hkd","hnl","htg","huf","idr","ils","inr","isk","jmd","jod","jpy","kes","kgs","khr","kmf","krw","kwd","kyd","kzt","lak","lbp","lkr","lrd","lsl","mad","mdl","mga","mkd","mmk","mnt","mop","mur","mvr","mwk","mxn","myr","mzn","nad","ngn","nio","nok","npr","nzd","omr","pab","pen","pgk","php","pkr","pln","pyg","qar","ron","rsd","rub","rwf","sar","sbd","scr","sek","sgd","shp","sle","sos","srd","std","szl","thb","tjs","tnd","top","try","ttd","twd","tzs","uah","ugx","usd","uyu","uzs","vnd","vuv","wst","xaf","xcd","xof","xpf","yer","zar","zmw"]},{"type":"null"}]},"code":{"type":"string"}},"required":["api_id","percent_off","cents_off","currency","code"]},{"type":"null"}],"description":"The coupon that was applied to this ticket order, if any."},"is_captured":{"type":"boolean"}},"required":["id","amount","amount_discount","amount_tax","currency","coupon_info","is_captured"]},"description":"Detailed ticket orders for this guest. Use this to inspect applied coupon_info per order."}},"required":["id","user_id","user_email","user_name","user_first_name","user_last_name","approval_status","check_in_qr_code","eth_address","invited_at","joined_at","phone_number","registered_at","registration_answers","solana_address","utm_source","event_tickets","event_ticket_orders"]}}}}}}},"/v1/events/guests/list":{"get":{"tags":["Events"],"summary":"List Guests","parameters":[{"name":"event_id","in":"query","required":true,"schema":{"type":"string","description":"Event ID, this usually starts with evt-"},"description":"Event ID, this usually starts with evt-"},{"name":"approval_status","in":"query","required":false,"schema":{"type":"string","enum":["approved","session","pending_approval","invited","declined","waitlist"]}},{"name":"pagination_cursor","in":"query","required":false,"schema":{"description":"Value of `next_cursor` from a previous request.","type":"string"},"description":"Value of `next_cursor` from a previous request."},{"name":"pagination_limit","in":"query","required":false,"schema":{"description":"The number of items to return. The server will enforce a maximum number.","type":"number"},"description":"The number of items to return. The server will enforce a maximum number."},{"name":"sort_column","in":"query","required":false,"schema":{"type":"string","enum":["name","email","created_at","registered_at","checked_in_at"]}},{"name":"sort_direction","in":"query","required":false,"schema":{"type":"string","enum":["asc","desc","asc nulls last","desc nulls last"]}}],"description":"Get list of guests who have registered or been invited to an event.\n\nThis list response includes guest summaries and `event_tickets`, but not order-level details like `event_ticket_orders`. Use `/v1/events/guests/get` when you need detailed ticket order data for a specific guest.","responses":{"200":{"description":"Successful response.","content":{"application/json":{"schema":{"$schema":"https://json-schema.org/draft/2020-12/schema","type":"object","properties":{"entries":{"type":"array","items":{"type":"object","properties":{"id":{"type":"string"},"user_id":{"type":"string"},"user_email":{"type":"string"},"user_name":{"anyOf":[{"type":"string"},{"type":"null"}]},"user_first_name":{"anyOf":[{"type":"string"},{"type":"null"}]},"user_last_name":{"anyOf":[{"type":"string"},{"type":"null"}]},"approval_status":{"type":"string","enum":["approved","session","pending_approval","invited","declined","waitlist"]},"check_in_qr_code":{"type":"string"},"eth_address":{"anyOf":[{"type":"string","pattern":"^0x[0-9a-fA-F]{40}$"},{"type":"null"}]},"invited_at":{"anyOf":[{"type":"string","format":"date-time","pattern":"^(?:(?:\\d\\d[2468][048]|\\d\\d[13579][26]|\\d\\d0[48]|[02468][048]00|[13579][26]00)-02-29|\\d{4}-(?:(?:0[13578]|1[02])-(?:0[1-9]|[12]\\d|3[01])|(?:0[469]|11)-(?:0[1-9]|[12]\\d|30)|(?:02)-(?:0[1-9]|1\\d|2[0-8])))T(?:(?:[01]\\d|2[0-3]):[0-5]\\d(?::[0-5]\\d(?:\\.\\d+)?)?(?:Z|([+-](?:[01]\\d|2[0-3]):[0-5]\\d)))$","description":"ISO 8601 Datetime. For example, 2022-10-19T03:27:13.673Z"},{"type":"null"}],"description":"When the guest was invited to the event. Null if they registered on their own."},"joined_at":{"anyOf":[{"type":"string","format":"date-time","pattern":"^(?:(?:\\d\\d[2468][048]|\\d\\d[13579][26]|\\d\\d0[48]|[02468][048]00|[13579][26]00)-02-29|\\d{4}-(?:(?:0[13578]|1[02])-(?:0[1-9]|[12]\\d|3[01])|(?:0[469]|11)-(?:0[1-9]|[12]\\d|30)|(?:02)-(?:0[1-9]|1\\d|2[0-8])))T(?:(?:[01]\\d|2[0-3]):[0-5]\\d(?::[0-5]\\d(?:\\.\\d+)?)?(?:Z|([+-](?:[01]\\d|2[0-3]):[0-5]\\d)))$","description":"ISO 8601 Datetime. For example, 2022-10-19T03:27:13.673Z"},{"type":"null"}],"description":"When the guest first clicked the virtual join link (luma.com/join/...). Only set for online events. Null if the guest has not joined."},"phone_number":{"anyOf":[{"type":"string"},{"type":"null"}]},"registered_at":{"anyOf":[{"type":"string","format":"date-time","pattern":"^(?:(?:\\d\\d[2468][048]|\\d\\d[13579][26]|\\d\\d0[48]|[02468][048]00|[13579][26]00)-02-29|\\d{4}-(?:(?:0[13578]|1[02])-(?:0[1-9]|[12]\\d|3[01])|(?:0[469]|11)-(?:0[1-9]|[12]\\d|30)|(?:02)-(?:0[1-9]|1\\d|2[0-8])))T(?:(?:[01]\\d|2[0-3]):[0-5]\\d(?::[0-5]\\d(?:\\.\\d+)?)?(?:Z|([+-](?:[01]\\d|2[0-3]):[0-5]\\d)))$","description":"ISO 8601 Datetime. For example, 2022-10-19T03:27:13.673Z"},{"type":"null"}],"description":"When the guest registered for the event."},"registration_answers":{"anyOf":[{"type":"array","items":{"anyOf":[{"type":"object","properties":{"label":{"type":"string"},"question_id":{"type":"string"},"value":{"type":"boolean"},"question_type":{"type":"string","const":"agree-check"}},"required":["label","question_id","question_type"]},{"type":"object","properties":{"label":{"type":"string"},"question_id":{"type":"string"},"value":{"type":"object","properties":{"company":{"anyOf":[{"type":"string"},{"type":"null"}]},"job_title":{"anyOf":[{"type":"string"},{"type":"null"}]}}},"question_type":{"type":"string","const":"company"}},"required":["label","question_id","value","question_type"]},{"type":"object","properties":{"label":{"type":"string"},"question_id":{"type":"string"},"value":{"anyOf":[{"type":"string"},{"type":"null"}]},"question_type":{"type":"string","const":"dropdown"}},"required":["label","question_id","value","question_type"]},{"type":"object","properties":{"label":{"type":"string"},"question_id":{"type":"string"},"value":{"anyOf":[{"type":"array","items":{"type":"string"}},{"type":"null"}]},"question_type":{"type":"string","const":"multi-select"}},"required":["label","question_id","value","question_type"]},{"type":"object","properties":{"label":{"type":"string"},"question_id":{"type":"string"},"value":{"anyOf":[{"type":"string"},{"type":"null"}]},"question_type":{"type":"string","const":"phone-number"}},"required":["label","question_id","value","question_type"]},{"type":"object","properties":{"label":{"type":"string"},"question_id":{"type":"string"},"value":{"anyOf":[{"anyOf":[{"type":"string"},{"type":"boolean","const":true}]},{"type":"null"}]},"question_type":{"type":"string","const":"terms"}},"required":["label","question_id","question_type"]},{"type":"object","properties":{"label":{"type":"string"},"question_id":{"type":"string"},"value":{"anyOf":[{"type":"string"},{"type":"null"}]},"question_type":{"anyOf":[{"type":"string","const":"github"},{"type":"string","const":"instagram"},{"type":"string","const":"linkedin"},{"type":"string","const":"long-text"},{"type":"string","const":"telegram"},{"type":"string","const":"text"},{"type":"string","const":"twitter"},{"type":"string","const":"youtube"}]}},"required":["label","question_id","value","question_type"]},{"type":"object","properties":{"label":{"type":"string"},"question_id":{"type":"string"},"value":{"anyOf":[{"type":"string"},{"type":"null"}]},"question_type":{"type":"string","const":"url"}},"required":["label","question_id","value","question_type"]}]}},{"type":"null"}]},"solana_address":{"anyOf":[{"type":"string","pattern":"^[5KL1-9A-HJ-NP-Za-km-z]{32,44}$"},{"type":"null"}]},"utm_source":{"anyOf":[{"type":"string"},{"type":"null"}],"description":"The UTM source parameter captured when the guest registered (from the `?utm_source=` query parameter)."},"event_tickets":{"type":"array","items":{"type":"object","properties":{"id":{"type":"string"},"amount":{"type":"number"},"amount_discount":{"type":"number"},"amount_tax":{"type":"number"},"currency":{"anyOf":[{"type":"string","enum":["solana_sol","solana_usdc","aed","afn","all","amd","ang","aoa","ars","aud","awg","azn","bam","bbd","bdt","bgn","bhd","bif","bmd","bnd","bob","brl","bsd","bwp","byn","bzd","cad","cdf","chf","clp","cny","cop","crc","cve","czk","djf","dkk","dop","dzd","egp","etb","eur","fjd","fkp","gbp","gel","ghs","gip","gmd","gnf","gtq","gyd","hkd","hnl","htg","huf","idr","ils","inr","isk","jmd","jod","jpy","kes","kgs","khr","kmf","krw","kwd","kyd","kzt","lak","lbp","lkr","lrd","lsl","mad","mdl","mga","mkd","mmk","mnt","mop","mur","mvr","mwk","mxn","myr","mzn","nad","ngn","nio","nok","npr","nzd","omr","pab","pen","pgk","php","pkr","pln","pyg","qar","ron","rsd","rub","rwf","sar","sbd","scr","sek","sgd","shp","sle","sos","srd","std","szl","thb","tjs","tnd","top","try","ttd","twd","tzs","uah","ugx","usd","uyu","uzs","vnd","vuv","wst","xaf","xcd","xof","xpf","yer","zar","zmw"]},{"type":"null"}]},"checked_in_at":{"anyOf":[{"type":"string","format":"date-time","pattern":"^(?:(?:\\d\\d[2468][048]|\\d\\d[13579][26]|\\d\\d0[48]|[02468][048]00|[13579][26]00)-02-29|\\d{4}-(?:(?:0[13578]|1[02])-(?:0[1-9]|[12]\\d|3[01])|(?:0[469]|11)-(?:0[1-9]|[12]\\d|30)|(?:02)-(?:0[1-9]|1\\d|2[0-8])))T(?:(?:[01]\\d|2[0-3]):[0-5]\\d(?::[0-5]\\d(?:\\.\\d+)?)?(?:Z|([+-](?:[01]\\d|2[0-3]):[0-5]\\d)))$","description":"ISO 8601 Datetime. For example, 2022-10-19T03:27:13.673Z"},{"type":"null"}]},"event_ticket_type_id":{"type":"string"},"is_captured":{"type":"boolean"},"name":{"type":"string"}},"required":["id","amount","amount_discount","amount_tax","currency","checked_in_at","event_ticket_type_id","is_captured","name"]}}},"required":["id","user_id","user_email","user_name","user_first_name","user_last_name","approval_status","check_in_qr_code","eth_address","invited_at","joined_at","phone_number","registered_at","registration_answers","solana_address","utm_source","event_tickets"]}},"has_more":{"type":"boolean"},"next_cursor":{"type":"string"}},"required":["entries","has_more"]}}}}}}},"/v1/users/get-self":{"get":{"tags":["Miscellaneous"],"summary":"Get Self","parameters":[],"responses":{"200":{"description":"Successful response.","content":{"application/json":{"schema":{"$schema":"https://json-schema.org/draft/2020-12/schema","type":"object","properties":{"id":{"type":"string"},"name":{"anyOf":[{"type":"string"},{"type":"null"}]},"avatar_url":{"type":"string"},"email":{"type":"string"},"first_name":{"anyOf":[{"type":"string"},{"type":"null"}]},"last_name":{"anyOf":[{"type":"string"},{"type":"null"}]}},"required":["id","name","avatar_url","email","first_name","last_name"]}}}}}}},"/v1/calendars/contact-tags/list":{"get":{"tags":["Calendars"],"summary":"List Contact Tags","parameters":[],"responses":{"200":{"description":"Successful response.","content":{"application/json":{"schema":{"$schema":"https://json-schema.org/draft/2020-12/schema","type":"object","properties":{"entries":{"type":"array","items":{"type":"object","properties":{"id":{"type":"string"},"name":{"type":"string"},"color":{"type":"string"}},"required":["id","name","color"]}},"has_more":{"type":"boolean"}},"required":["entries","has_more"]}}}}}}},"/v1/calendars/event-tags/list":{"get":{"tags":["Calendars"],"summary":"List Event Tags","parameters":[],"responses":{"200":{"description":"Successful response.","content":{"application/json":{"schema":{"$schema":"https://json-schema.org/draft/2020-12/schema","type":"object","properties":{"entries":{"type":"array","items":{"type":"object","properties":{"id":{"type":"string"},"name":{"type":"string"},"color":{"type":"string"}},"required":["id","name","color"]}},"has_more":{"type":"boolean"}},"required":["entries","has_more"]}}}}}}},"/v1/calendars/admins/list":{"get":{"tags":["Calendars"],"summary":"List Calendar Admins","parameters":[],"description":"List all admins for the calendar.","responses":{"200":{"description":"Successful response.","content":{"application/json":{"schema":{"$schema":"https://json-schema.org/draft/2020-12/schema","type":"object","properties":{"entries":{"type":"array","items":{"type":"object","properties":{"id":{"type":"string"},"name":{"anyOf":[{"type":"string"},{"type":"null"}]},"avatar_url":{"type":"string"},"email":{"type":"string"},"first_name":{"anyOf":[{"type":"string"},{"type":"null"}]},"last_name":{"anyOf":[{"type":"string"},{"type":"null"}]}},"required":["id","name","avatar_url","email","first_name","last_name"]}},"has_more":{"type":"boolean"}},"required":["entries","has_more"]}}}}}}},"/v1/entities/lookup":{"get":{"tags":["Miscellaneous"],"summary":"Lookup Entity","parameters":[{"name":"slug","in":"query","required":true,"schema":{"type":"string"}}],"description":"Lookup an entity on Luma by its slug.","responses":{"200":{"description":"Successful response.","content":{"application/json":{"schema":{"$schema":"https://json-schema.org/draft/2020-12/schema","type":"object","properties":{"entity":{"anyOf":[{"oneOf":[{"type":"object","properties":{"type":{"type":"string","const":"calendar"},"calendar":{"type":"object","properties":{"id":{"type":"string"},"name":{"type":"string"},"slug":{"anyOf":[{"type":"string"},{"type":"null"}]},"avatar_url":{"anyOf":[{"type":"string"},{"type":"null"}]}},"required":["id","name","slug"]}},"required":["type","calendar"]},{"type":"object","properties":{"type":{"type":"string","const":"event"},"event":{"type":"object","properties":{"id":{"type":"string"},"name":{"type":"string"},"slug":{"type":"string"},"cover_url":{"type":"string"},"start_at":{"type":"string","format":"date-time","pattern":"^(?:(?:\\d\\d[2468][048]|\\d\\d[13579][26]|\\d\\d0[48]|[02468][048]00|[13579][26]00)-02-29|\\d{4}-(?:(?:0[13578]|1[02])-(?:0[1-9]|[12]\\d|3[01])|(?:0[469]|11)-(?:0[1-9]|[12]\\d|30)|(?:02)-(?:0[1-9]|1\\d|2[0-8])))T(?:(?:[01]\\d|2[0-3]):[0-5]\\d(?::[0-5]\\d(?:\\.\\d+)?)?(?:Z|([+-](?:[01]\\d|2[0-3]):[0-5]\\d)))$","description":"ISO 8601 Datetime. For example, 2022-10-19T03:27:13.673Z"},"end_at":{"type":"string","format":"date-time","pattern":"^(?:(?:\\d\\d[2468][048]|\\d\\d[13579][26]|\\d\\d0[48]|[02468][048]00|[13579][26]00)-02-29|\\d{4}-(?:(?:0[13578]|1[02])-(?:0[1-9]|[12]\\d|3[01])|(?:0[469]|11)-(?:0[1-9]|[12]\\d|30)|(?:02)-(?:0[1-9]|1\\d|2[0-8])))T(?:(?:[01]\\d|2[0-3]):[0-5]\\d(?::[0-5]\\d(?:\\.\\d+)?)?(?:Z|([+-](?:[01]\\d|2[0-3]):[0-5]\\d)))$","description":"ISO 8601 Datetime. For example, 2022-10-19T03:27:13.673Z"}},"required":["id","name","slug","cover_url","start_at","end_at"]}},"required":["type","event"]}]},{"type":"null"}]}},"required":["entity"]}}}}}}},"/v1/calendars/events/lookup":{"get":{"tags":["Calendars"],"summary":"Lookup Event","parameters":[{"name":"platform","in":"query","required":false,"schema":{"type":"string","enum":["external","luma"]}},{"name":"url","in":"query","required":false,"schema":{"type":"string"}},{"name":"event_id","in":"query","required":false,"schema":{"description":"Event ID, this usually starts with evt-","type":"string"},"description":"Event ID, this usually starts with evt-"},{"name":"event_api_id","in":"query","required":false,"schema":{"deprecated":true,"description":"Use `event_id` instead.","type":"string"},"description":"Use `event_id` instead."}],"description":"See if an event already exists on the calendar. This is useful when figuring out if you want to submit an event to the calendar.","responses":{"200":{"description":"Successful response.","content":{"application/json":{"schema":{"$schema":"https://json-schema.org/draft/2020-12/schema","type":"object","properties":{"event":{"anyOf":[{"type":"object","properties":{"id":{"type":"string"},"status":{"type":"string","enum":["approved","pending","rejected"]},"submitted_by":{"anyOf":[{"type":"object","properties":{"id":{"type":"string"},"name":{"anyOf":[{"type":"string"},{"type":"null"}]},"avatar_url":{"type":"string"},"email":{"anyOf":[{"type":"string"},{"type":"null"}],"description":"The submitter's account email. Null when not returned."},"first_name":{"anyOf":[{"type":"string"},{"type":"null"}]},"last_name":{"anyOf":[{"type":"string"},{"type":"null"}]}},"required":["id","name","avatar_url","email","first_name","last_name"]},{"type":"null"}],"description":"The user who submitted or added this event to the calendar. Null when the submitter's account no longer exists or is blocked."}},"required":["id","status","submitted_by"]},{"type":"null"}]}},"required":["event"]}}}}}}},"/v1/calendars/contacts/list":{"get":{"tags":["Calendars"],"summary":"List Contacts","parameters":[{"name":"query","in":"query","required":false,"schema":{"description":"Search over names and emails.","anyOf":[{"type":"string"},{"type":"null"}]},"description":"Search over names and emails."},{"name":"tags","in":"query","required":false,"schema":{"description":"Tag names or tag IDs to filter contacts. Pass as repeated query params, e.g. `?tags=vip&tags=sponsor`. Returns contacts who have any of the specified tags.","anyOf":[{"type":"array","items":{"type":"string"}},{"type":"null"}]},"description":"Tag names or tag IDs to filter contacts. Pass as repeated query params, e.g. `?tags=vip&tags=sponsor`. Returns contacts who have any of the specified tags."},{"name":"calendar_membership_tier_id","in":"query","required":false,"schema":{"anyOf":[{"type":"string"},{"type":"null"}]}},{"name":"membership_status","in":"query","required":false,"schema":{"description":"This is relevant for Calendar Memberships but not relevant otherwise.","anyOf":[{"type":"string","enum":["approved","pending","approved-pending-payment","declined"]},{"type":"null"}]},"description":"This is relevant for Calendar Memberships but not relevant otherwise."},{"name":"pagination_cursor","in":"query","required":false,"schema":{"description":"Value of `next_cursor` from a previous request.","type":"string"},"description":"Value of `next_cursor` from a previous request."},{"name":"pagination_limit","in":"query","required":false,"schema":{"description":"The number of items to return. The server will enforce a maximum number.","type":"number"},"description":"The number of items to return. The server will enforce a maximum number."},{"name":"sort_column","in":"query","required":false,"schema":{"type":"string","enum":["created_at","event_checked_in_count","event_approved_count","name","revenue_usd_cents"]}},{"name":"sort_direction","in":"query","required":false,"schema":{"type":"string","enum":["asc","desc","asc nulls last","desc nulls last"]}}],"responses":{"200":{"description":"Successful response.","content":{"application/json":{"schema":{"$schema":"https://json-schema.org/draft/2020-12/schema","type":"object","properties":{"entries":{"type":"array","items":{"type":"object","properties":{"id":{"type":"string"},"user_id":{"type":"string"},"created_at":{"type":"string","format":"date-time","pattern":"^(?:(?:\\d\\d[2468][048]|\\d\\d[13579][26]|\\d\\d0[48]|[02468][048]00|[13579][26]00)-02-29|\\d{4}-(?:(?:0[13578]|1[02])-(?:0[1-9]|[12]\\d|3[01])|(?:0[469]|11)-(?:0[1-9]|[12]\\d|30)|(?:02)-(?:0[1-9]|1\\d|2[0-8])))T(?:(?:[01]\\d|2[0-3]):[0-5]\\d(?::[0-5]\\d(?:\\.\\d+)?)?(?:Z|([+-](?:[01]\\d|2[0-3]):[0-5]\\d)))$","description":"ISO 8601 Datetime. For example, 2022-10-19T03:27:13.673Z"},"event_approved_count":{"type":"number"},"event_checked_in_count":{"type":"number"},"revenue_usd_cents":{"type":"number"},"tags":{"type":"array","items":{"type":"object","properties":{"id":{"type":"string"},"name":{"type":"string"}},"required":["id","name"]}},"membership":{"anyOf":[{"type":"object","properties":{"status":{"type":"string","enum":["approved","pending","approved-pending-payment","declined"]},"calendar_membership_tier_id":{"anyOf":[{"type":"string"},{"type":"null"}]}},"required":["status","calendar_membership_tier_id"]},{"type":"null"}]},"name":{"anyOf":[{"type":"string"},{"type":"null"}]},"avatar_url":{"type":"string"},"email":{"type":"string"},"first_name":{"anyOf":[{"type":"string"},{"type":"null"}]},"last_name":{"anyOf":[{"type":"string"},{"type":"null"}]}},"required":["id","user_id","created_at","event_approved_count","event_checked_in_count","revenue_usd_cents","tags","membership","name","avatar_url","email","first_name","last_name"]}},"has_more":{"type":"boolean"},"next_cursor":{"type":"string"}},"required":["entries","has_more"]}}}}}}},"/v1/events/coupons/list":{"get":{"tags":["Events"],"summary":"List Event Coupons","parameters":[{"name":"event_id","in":"query","required":true,"schema":{"type":"string","description":"Event ID, this usually starts with evt-"},"description":"Event ID, this usually starts with evt-"},{"name":"pagination_cursor","in":"query","required":false,"schema":{"description":"Value of `next_cursor` from a previous request.","type":"string"},"description":"Value of `next_cursor` from a previous request."},{"name":"pagination_limit","in":"query","required":false,"schema":{"description":"The number of items to return. The server will enforce a maximum number.","type":"number"},"description":"The number of items to return. The server will enforce a maximum number."}],"description":"List all coupons that have been created for an event.","responses":{"200":{"description":"Successful response.","content":{"application/json":{"schema":{"$schema":"https://json-schema.org/draft/2020-12/schema","type":"object","properties":{"entries":{"type":"array","items":{"type":"object","properties":{"id":{"type":"string"},"code":{"type":"string","description":"This code is case insensitive."},"remaining_count":{"type":"integer","minimum":-9007199254740991,"maximum":9007199254740991},"valid_start_at":{"anyOf":[{"type":"string","format":"date-time","pattern":"^(?:(?:\\d\\d[2468][048]|\\d\\d[13579][26]|\\d\\d0[48]|[02468][048]00|[13579][26]00)-02-29|\\d{4}-(?:(?:0[13578]|1[02])-(?:0[1-9]|[12]\\d|3[01])|(?:0[469]|11)-(?:0[1-9]|[12]\\d|30)|(?:02)-(?:0[1-9]|1\\d|2[0-8])))T(?:(?:[01]\\d|2[0-3]):[0-5]\\d(?::[0-5]\\d(?:\\.\\d+)?)?(?:Z|([+-](?:[01]\\d|2[0-3]):[0-5]\\d)))$","description":"ISO 8601 Datetime. For example, 2022-10-19T03:27:13.673Z"},{"type":"null"}]},"valid_end_at":{"anyOf":[{"type":"string","format":"date-time","pattern":"^(?:(?:\\d\\d[2468][048]|\\d\\d[13579][26]|\\d\\d0[48]|[02468][048]00|[13579][26]00)-02-29|\\d{4}-(?:(?:0[13578]|1[02])-(?:0[1-9]|[12]\\d|3[01])|(?:0[469]|11)-(?:0[1-9]|[12]\\d|30)|(?:02)-(?:0[1-9]|1\\d|2[0-8])))T(?:(?:[01]\\d|2[0-3]):[0-5]\\d(?::[0-5]\\d(?:\\.\\d+)?)?(?:Z|([+-](?:[01]\\d|2[0-3]):[0-5]\\d)))$","description":"ISO 8601 Datetime. For example, 2022-10-19T03:27:13.673Z"},{"type":"null"}]},"percent_off":{"anyOf":[{"type":"number"},{"type":"null"}]},"cents_off":{"anyOf":[{"type":"number"},{"type":"null"}]},"currency":{"anyOf":[{"type":"string","enum":["solana_sol","solana_usdc","aed","afn","all","amd","ang","aoa","ars","aud","awg","azn","bam","bbd","bdt","bgn","bhd","bif","bmd","bnd","bob","brl","bsd","bwp","byn","bzd","cad","cdf","chf","clp","cny","cop","crc","cve","czk","djf","dkk","dop","dzd","egp","etb","eur","fjd","fkp","gbp","gel","ghs","gip","gmd","gnf","gtq","gyd","hkd","hnl","htg","huf","idr","ils","inr","isk","jmd","jod","jpy","kes","kgs","khr","kmf","krw","kwd","kyd","kzt","lak","lbp","lkr","lrd","lsl","mad","mdl","mga","mkd","mmk","mnt","mop","mur","mvr","mwk","mxn","myr","mzn","nad","ngn","nio","nok","npr","nzd","omr","pab","pen","pgk","php","pkr","pln","pyg","qar","ron","rsd","rub","rwf","sar","sbd","scr","sek","sgd","shp","sle","sos","srd","std","szl","thb","tjs","tnd","top","try","ttd","twd","tzs","uah","ugx","usd","uyu","uzs","vnd","vuv","wst","xaf","xcd","xof","xpf","yer","zar","zmw"]},{"type":"null"}]},"event_ticket_type_id":{"description":"The ticket type this coupon is restricted to, if any. Set for unlock (access) codes that reveal a hidden ticket type.","anyOf":[{"type":"string"},{"type":"null"}]}},"required":["id","code","remaining_count","valid_start_at","valid_end_at","percent_off","cents_off","currency"]}},"has_more":{"type":"boolean"},"next_cursor":{"type":"string"}},"required":["entries","has_more"]}}}}}}},"/v1/calendars/coupons/list":{"get":{"tags":["Calendars"],"summary":"List Calendar Coupons","parameters":[{"name":"pagination_cursor","in":"query","required":false,"schema":{"description":"Value of `next_cursor` from a previous request.","type":"string"},"description":"Value of `next_cursor` from a previous request."},{"name":"pagination_limit","in":"query","required":false,"schema":{"description":"The number of items to return. The server will enforce a maximum number.","type":"number"},"description":"The number of items to return. The server will enforce a maximum number."}],"description":"List all coupons that have been created for a calendar.","responses":{"200":{"description":"Successful response.","content":{"application/json":{"schema":{"$schema":"https://json-schema.org/draft/2020-12/schema","type":"object","properties":{"entries":{"type":"array","items":{"type":"object","properties":{"id":{"type":"string"},"code":{"type":"string","description":"This code is case insensitive."},"remaining_count":{"type":"integer","minimum":-9007199254740991,"maximum":9007199254740991},"valid_start_at":{"anyOf":[{"type":"string","format":"date-time","pattern":"^(?:(?:\\d\\d[2468][048]|\\d\\d[13579][26]|\\d\\d0[48]|[02468][048]00|[13579][26]00)-02-29|\\d{4}-(?:(?:0[13578]|1[02])-(?:0[1-9]|[12]\\d|3[01])|(?:0[469]|11)-(?:0[1-9]|[12]\\d|30)|(?:02)-(?:0[1-9]|1\\d|2[0-8])))T(?:(?:[01]\\d|2[0-3]):[0-5]\\d(?::[0-5]\\d(?:\\.\\d+)?)?(?:Z|([+-](?:[01]\\d|2[0-3]):[0-5]\\d)))$","description":"ISO 8601 Datetime. For example, 2022-10-19T03:27:13.673Z"},{"type":"null"}]},"valid_end_at":{"anyOf":[{"type":"string","format":"date-time","pattern":"^(?:(?:\\d\\d[2468][048]|\\d\\d[13579][26]|\\d\\d0[48]|[02468][048]00|[13579][26]00)-02-29|\\d{4}-(?:(?:0[13578]|1[02])-(?:0[1-9]|[12]\\d|3[01])|(?:0[469]|11)-(?:0[1-9]|[12]\\d|30)|(?:02)-(?:0[1-9]|1\\d|2[0-8])))T(?:(?:[01]\\d|2[0-3]):[0-5]\\d(?::[0-5]\\d(?:\\.\\d+)?)?(?:Z|([+-](?:[01]\\d|2[0-3]):[0-5]\\d)))$","description":"ISO 8601 Datetime. For example, 2022-10-19T03:27:13.673Z"},{"type":"null"}]},"percent_off":{"anyOf":[{"type":"number"},{"type":"null"}]},"cents_off":{"anyOf":[{"type":"number"},{"type":"null"}]},"currency":{"anyOf":[{"type":"string","enum":["solana_sol","solana_usdc","aed","afn","all","amd","ang","aoa","ars","aud","awg","azn","bam","bbd","bdt","bgn","bhd","bif","bmd","bnd","bob","brl","bsd","bwp","byn","bzd","cad","cdf","chf","clp","cny","cop","crc","cve","czk","djf","dkk","dop","dzd","egp","etb","eur","fjd","fkp","gbp","gel","ghs","gip","gmd","gnf","gtq","gyd","hkd","hnl","htg","huf","idr","ils","inr","isk","jmd","jod","jpy","kes","kgs","khr","kmf","krw","kwd","kyd","kzt","lak","lbp","lkr","lrd","lsl","mad","mdl","mga","mkd","mmk","mnt","mop","mur","mvr","mwk","mxn","myr","mzn","nad","ngn","nio","nok","npr","nzd","omr","pab","pen","pgk","php","pkr","pln","pyg","qar","ron","rsd","rub","rwf","sar","sbd","scr","sek","sgd","shp","sle","sos","srd","std","szl","thb","tjs","tnd","top","try","ttd","twd","tzs","uah","ugx","usd","uyu","uzs","vnd","vuv","wst","xaf","xcd","xof","xpf","yer","zar","zmw"]},{"type":"null"}]},"event_ticket_type_id":{"description":"The ticket type this coupon is restricted to, if any. Set for unlock (access) codes that reveal a hidden ticket type.","anyOf":[{"type":"string"},{"type":"null"}]}},"required":["id","code","remaining_count","valid_start_at","valid_end_at","percent_off","cents_off","currency"]}},"has_more":{"type":"boolean"},"next_cursor":{"type":"string"}},"required":["entries","has_more"]}}}}}}},"/v1/events/ticket-types/list":{"get":{"tags":["Events"],"summary":"List Ticket Types","parameters":[{"name":"event_id","in":"query","required":true,"schema":{"type":"string","description":"Event ID, this usually starts with evt-"},"description":"Event ID, this usually starts with evt-"},{"name":"include_hidden","in":"query","required":false,"schema":{"description":"Include hidden ticket types","type":"string"},"description":"Include hidden ticket types"}],"description":"List all ticket types for an event","responses":{"200":{"description":"Successful response.","content":{"application/json":{"schema":{"$schema":"https://json-schema.org/draft/2020-12/schema","type":"object","properties":{"entries":{"type":"array","items":{"type":"object","properties":{"name":{"type":"string"},"require_approval":{"type":"boolean"},"is_hidden":{"type":"boolean"},"description":{"anyOf":[{"type":"string"},{"type":"null"}]},"valid_start_at":{"anyOf":[{"type":"string","description":"ISO 8601 Date. For example, 2025-09-01"},{"type":"null"}]},"valid_end_at":{"anyOf":[{"type":"string","description":"ISO 8601 Date. For example, 2025-09-01"},{"type":"null"}]},"max_capacity":{"anyOf":[{"type":"number"},{"type":"null"}]},"type":{"type":"string","enum":["free","paid"]},"cents":{"anyOf":[{"type":"number"},{"type":"null"}]},"currency":{"anyOf":[{"type":"string"},{"type":"null"}]},"is_flexible":{"type":"boolean"},"min_cents":{"anyOf":[{"type":"number"},{"type":"null"}]},"id":{"type":"string"}},"required":["name","type","id"]}}},"required":["entries"]}}}}}}},"/v1/events/ticket-types/get":{"get":{"tags":["Events"],"summary":"Get Ticket Type","parameters":[{"name":"event_ticket_type_id","in":"query","required":true,"schema":{"type":"string","description":"Ticket type ID, this usually starts with ttype-"},"description":"Ticket type ID, this usually starts with ttype-"}],"description":"Get a single ticket type by ID","responses":{"200":{"description":"Successful response.","content":{"application/json":{"schema":{"$schema":"https://json-schema.org/draft/2020-12/schema","type":"object","properties":{"name":{"type":"string"},"require_approval":{"type":"boolean"},"is_hidden":{"type":"boolean"},"description":{"anyOf":[{"type":"string"},{"type":"null"}]},"valid_start_at":{"anyOf":[{"type":"string","description":"ISO 8601 Date. For example, 2025-09-01"},{"type":"null"}]},"valid_end_at":{"anyOf":[{"type":"string","description":"ISO 8601 Date. For example, 2025-09-01"},{"type":"null"}]},"max_capacity":{"anyOf":[{"type":"number"},{"type":"null"}]},"type":{"type":"string","enum":["free","paid"]},"cents":{"anyOf":[{"type":"number"},{"type":"null"}]},"currency":{"anyOf":[{"type":"string"},{"type":"null"}]},"is_flexible":{"type":"boolean"},"min_cents":{"anyOf":[{"type":"number"},{"type":"null"}]},"id":{"type":"string"}},"required":["name","type","id"]}}}}}}},"/v1/memberships/tiers/list":{"get":{"tags":["Memberships"],"summary":"List Membership Tiers","parameters":[{"name":"pagination_cursor","in":"query","required":false,"schema":{"description":"Value of `next_cursor` from a previous request.","type":"string"},"description":"Value of `next_cursor` from a previous request."},{"name":"pagination_limit","in":"query","required":false,"schema":{"description":"The number of items to return. The server will enforce a maximum number.","type":"number"},"description":"The number of items to return. The server will enforce a maximum number."}],"description":"List available membership tiers for the calendar.","responses":{"200":{"description":"Successful response.","content":{"application/json":{"schema":{"$schema":"https://json-schema.org/draft/2020-12/schema","type":"object","properties":{"entries":{"type":"array","items":{"type":"object","properties":{"id":{"type":"string"},"name":{"type":"string"},"description":{"anyOf":[{"type":"string"},{"type":"null"}]},"tint_color":{"description":"A hex color like '#bb2dc7'. Alpha channels (#rgba, #rrggbbaa) are automatically stripped.","type":"string"},"access_info":{"oneOf":[{"type":"object","properties":{"type":{"type":"string","const":"free"},"require_approval":{"type":"boolean"}},"required":["type","require_approval"]},{"type":"object","properties":{"type":{"type":"string","const":"payment-once"},"amount":{"type":"number","exclusiveMinimum":0},"currency":{"type":"string","enum":["solana_sol","solana_usdc","aed","afn","all","amd","ang","aoa","ars","aud","awg","azn","bam","bbd","bdt","bgn","bhd","bif","bmd","bnd","bob","brl","bsd","bwp","byn","bzd","cad","cdf","chf","clp","cny","cop","crc","cve","czk","djf","dkk","dop","dzd","egp","etb","eur","fjd","fkp","gbp","gel","ghs","gip","gmd","gnf","gtq","gyd","hkd","hnl","htg","huf","idr","ils","inr","isk","jmd","jod","jpy","kes","kgs","khr","kmf","krw","kwd","kyd","kzt","lak","lbp","lkr","lrd","lsl","mad","mdl","mga","mkd","mmk","mnt","mop","mur","mvr","mwk","mxn","myr","mzn","nad","ngn","nio","nok","npr","nzd","omr","pab","pen","pgk","php","pkr","pln","pyg","qar","ron","rsd","rub","rwf","sar","sbd","scr","sek","sgd","shp","sle","sos","srd","std","szl","thb","tjs","tnd","top","try","ttd","twd","tzs","uah","ugx","usd","uyu","uzs","vnd","vuv","wst","xaf","xcd","xof","xpf","yer","zar","zmw"]},"require_approval":{"type":"boolean"}},"required":["type","amount","currency","require_approval"]},{"type":"object","properties":{"type":{"type":"string","const":"payment-recurring"},"currency":{"type":"string","enum":["solana_sol","solana_usdc","aed","afn","all","amd","ang","aoa","ars","aud","awg","azn","bam","bbd","bdt","bgn","bhd","bif","bmd","bnd","bob","brl","bsd","bwp","byn","bzd","cad","cdf","chf","clp","cny","cop","crc","cve","czk","djf","dkk","dop","dzd","egp","etb","eur","fjd","fkp","gbp","gel","ghs","gip","gmd","gnf","gtq","gyd","hkd","hnl","htg","huf","idr","ils","inr","isk","jmd","jod","jpy","kes","kgs","khr","kmf","krw","kwd","kyd","kzt","lak","lbp","lkr","lrd","lsl","mad","mdl","mga","mkd","mmk","mnt","mop","mur","mvr","mwk","mxn","myr","mzn","nad","ngn","nio","nok","npr","nzd","omr","pab","pen","pgk","php","pkr","pln","pyg","qar","ron","rsd","rub","rwf","sar","sbd","scr","sek","sgd","shp","sle","sos","srd","std","szl","thb","tjs","tnd","top","try","ttd","twd","tzs","uah","ugx","usd","uyu","uzs","vnd","vuv","wst","xaf","xcd","xof","xpf","yer","zar","zmw"]},"stripe_account_id":{"type":"string"},"stripe_product_id":{"type":"string"},"stripe_monthly_price_id":{"anyOf":[{"type":"string"},{"type":"null"}]},"amount_monthly":{"anyOf":[{"type":"number","exclusiveMinimum":0},{"type":"null"}]},"stripe_yearly_price_id":{"anyOf":[{"type":"string"},{"type":"null"}]},"amount_yearly":{"anyOf":[{"type":"number","exclusiveMinimum":0},{"type":"null"}]},"require_approval":{"type":"boolean"}},"required":["type","currency","stripe_account_id","stripe_product_id","require_approval"]}]}},"required":["id","name","description","tint_color","access_info"]}},"has_more":{"type":"boolean"},"next_cursor":{"type":"string"}},"required":["entries","has_more"]}}}}}}},"/v1/webhooks/list":{"get":{"tags":["Webhooks"],"summary":"List Webhooks","parameters":[{"name":"pagination_cursor","in":"query","required":false,"schema":{"description":"Value of `next_cursor` from a previous request.","type":"string"},"description":"Value of `next_cursor` from a previous request."},{"name":"pagination_limit","in":"query","required":false,"schema":{"description":"The number of items to return. The server will enforce a maximum number.","type":"number"},"description":"The number of items to return. The server will enforce a maximum number."}],"description":"List all webhook endpoints for the calendar.","responses":{"200":{"description":"Successful response.","content":{"application/json":{"schema":{"$schema":"https://json-schema.org/draft/2020-12/schema","type":"object","properties":{"entries":{"type":"array","items":{"type":"object","properties":{"id":{"type":"string"},"url":{"type":"string"},"event_types":{"type":"array","items":{"type":"string","enum":["*","calendar.event.added","calendar.event.submitted","calendar.person.subscribed","event.canceled","event.created","event.updated","guest.registered","guest.updated","ticket.registered"]}},"status":{"type":"string","enum":["active","paused"]},"secret":{"type":"string"},"created_at":{"type":"string","format":"date-time","pattern":"^(?:(?:\\d\\d[2468][048]|\\d\\d[13579][26]|\\d\\d0[48]|[02468][048]00|[13579][26]00)-02-29|\\d{4}-(?:(?:0[13578]|1[02])-(?:0[1-9]|[12]\\d|3[01])|(?:0[469]|11)-(?:0[1-9]|[12]\\d|30)|(?:02)-(?:0[1-9]|1\\d|2[0-8])))T(?:(?:[01]\\d|2[0-3]):[0-5]\\d(?::[0-5]\\d(?:\\.\\d+)?)?(?:Z|([+-](?:[01]\\d|2[0-3]):[0-5]\\d)))$","description":"ISO 8601 Datetime. For example, 2022-10-19T03:27:13.673Z"}},"required":["id","url","event_types","status","secret","created_at"]}},"has_more":{"type":"boolean"},"next_cursor":{"type":"string"}},"required":["entries","has_more"]}}}}}}},"/v2/webhooks/get":{"get":{"tags":["Webhooks"],"summary":"Get Webhook","parameters":[{"name":"id","in":"query","required":true,"schema":{"type":"string"}}],"description":"Get details about a specific webhook endpoint.","responses":{"200":{"description":"Successful response.","content":{"application/json":{"schema":{"$schema":"https://json-schema.org/draft/2020-12/schema","type":"object","properties":{"id":{"type":"string"},"url":{"type":"string"},"event_types":{"type":"array","items":{"type":"string","enum":["*","calendar.event.added","calendar.event.submitted","calendar.person.subscribed","event.canceled","event.created","event.updated","guest.registered","guest.updated","ticket.registered"]}},"status":{"type":"string","enum":["active","paused"]},"secret":{"type":"string"},"created_at":{"type":"string","format":"date-time","pattern":"^(?:(?:\\d\\d[2468][048]|\\d\\d[13579][26]|\\d\\d0[48]|[02468][048]00|[13579][26]00)-02-29|\\d{4}-(?:(?:0[13578]|1[02])-(?:0[1-9]|[12]\\d|3[01])|(?:0[469]|11)-(?:0[1-9]|[12]\\d|30)|(?:02)-(?:0[1-9]|1\\d|2[0-8])))T(?:(?:[01]\\d|2[0-3]):[0-5]\\d(?::[0-5]\\d(?:\\.\\d+)?)?(?:Z|([+-](?:[01]\\d|2[0-3]):[0-5]\\d)))$","description":"ISO 8601 Datetime. For example, 2022-10-19T03:27:13.673Z"}},"required":["id","url","event_types","status","secret","created_at"]}}}}}}},"/v1/organizations/admins/list":{"get":{"tags":["Organizations"],"summary":"List Organization Admins","parameters":[],"description":"List all admins for the organization.","responses":{"200":{"description":"Successful response.","content":{"application/json":{"schema":{"$schema":"https://json-schema.org/draft/2020-12/schema","type":"object","properties":{"entries":{"type":"array","items":{"type":"object","properties":{"id":{"type":"string"},"name":{"anyOf":[{"type":"string"},{"type":"null"}]},"avatar_url":{"type":"string"},"email":{"type":"string"},"first_name":{"anyOf":[{"type":"string"},{"type":"null"}]},"last_name":{"anyOf":[{"type":"string"},{"type":"null"}]},"api_id":{"type":"string","deprecated":true,"description":"Use `id` instead."}},"required":["id","name","avatar_url","email","first_name","last_name","api_id"]}}},"required":["entries"]}}}}}}},"/v1/organizations/calendars/list":{"get":{"tags":["Organizations"],"summary":"List Organization Calendars","parameters":[{"name":"pagination_cursor","in":"query","required":false,"schema":{"description":"Value of `next_cursor` from a previous request.","type":"string"},"description":"Value of `next_cursor` from a previous request."},{"name":"pagination_limit","in":"query","required":false,"schema":{"description":"The number of items to return. The server will enforce a maximum number.","type":"number"},"description":"The number of items to return. The server will enforce a maximum number."}],"description":"List all calendars belonging to the organization.","responses":{"200":{"description":"Successful response.","content":{"application/json":{"schema":{"$schema":"https://json-schema.org/draft/2020-12/schema","type":"object","properties":{"entries":{"type":"array","items":{"type":"object","properties":{"id":{"type":"string"},"name":{"type":"string"},"slug":{"anyOf":[{"type":"string"},{"type":"null"}]},"avatar_url":{"anyOf":[{"type":"string"},{"type":"null"}]},"url":{"type":"string"},"description":{"anyOf":[{"type":"string"},{"type":"null"}]},"social_image_url":{"anyOf":[{"type":"string"},{"type":"null"}]},"cover_image_url":{"anyOf":[{"type":"string"},{"type":"null"}]},"is_personal":{"type":"boolean"},"location":{"anyOf":[{"type":"object","properties":{"city":{"type":"string","description":"City name, e.g. 'New York'."},"region":{"anyOf":[{"type":"string"},{"type":"null"}],"description":"State or province, e.g. 'New York' or 'California'."},"country":{"anyOf":[{"type":"string"},{"type":"null"}],"description":"Country name, e.g. 'United States'. Null for cities in disputed territories where Google omits the country."},"country_code":{"anyOf":[{"type":"string"},{"type":"null"}],"description":"ISO 3166-1 alpha-2 country code, e.g. 'US'."},"timezone":{"type":"string","description":"IANA timezone of the city, e.g. 'America/New_York'."}},"required":["city","region","country","country_code","timezone"]},{"type":"null"}],"description":"City the calendar is based in (e.g. for city calendars). Null when the calendar isn't tied to a place."},"coordinate":{"anyOf":[{"type":"object","properties":{"longitude":{"type":"number"},"latitude":{"type":"number"}},"required":["longitude","latitude"]},{"type":"null"}],"description":"Latitude and longitude of the calendar's primary location (e.g. city calendars). Null when the calendar isn't tied to a place."},"instagram_handle":{"anyOf":[{"type":"string"},{"type":"null"}]},"twitter_handle":{"anyOf":[{"type":"string"},{"type":"null"}]},"youtube_handle":{"anyOf":[{"type":"string"},{"type":"null"}]},"website":{"anyOf":[{"type":"string"},{"type":"null"}]}},"required":["id","name","slug","avatar_url","url","description","social_image_url","cover_image_url","is_personal","location","coordinate","instagram_handle","twitter_handle","youtube_handle","website"]}},"has_more":{"type":"boolean"},"next_cursor":{"type":"string"}},"required":["entries","has_more"]}}}}}}},"/v1/organizations/events/list":{"get":{"tags":["Organizations"],"summary":"List Organization Events","parameters":[{"name":"before","in":"query","required":false,"schema":{"type":"string","format":"date-time","pattern":"^(?:(?:\\d\\d[2468][048]|\\d\\d[13579][26]|\\d\\d0[48]|[02468][048]00|[13579][26]00)-02-29|\\d{4}-(?:(?:0[13578]|1[02])-(?:0[1-9]|[12]\\d|3[01])|(?:0[469]|11)-(?:0[1-9]|[12]\\d|30)|(?:02)-(?:0[1-9]|1\\d|2[0-8])))T(?:(?:[01]\\d|2[0-3]):[0-5]\\d(?::[0-5]\\d(?:\\.\\d+)?)?(?:Z|([+-](?:[01]\\d|2[0-3]):[0-5]\\d)))$","description":"ISO 8601 Datetime. For example, 2022-10-19T03:27:13.673Z"},"description":"ISO 8601 Datetime. For example, 2022-10-19T03:27:13.673Z"},{"name":"after","in":"query","required":false,"schema":{"type":"string","format":"date-time","pattern":"^(?:(?:\\d\\d[2468][048]|\\d\\d[13579][26]|\\d\\d0[48]|[02468][048]00|[13579][26]00)-02-29|\\d{4}-(?:(?:0[13578]|1[02])-(?:0[1-9]|[12]\\d|3[01])|(?:0[469]|11)-(?:0[1-9]|[12]\\d|30)|(?:02)-(?:0[1-9]|1\\d|2[0-8])))T(?:(?:[01]\\d|2[0-3]):[0-5]\\d(?::[0-5]\\d(?:\\.\\d+)?)?(?:Z|([+-](?:[01]\\d|2[0-3]):[0-5]\\d)))$","description":"ISO 8601 Datetime. For example, 2022-10-19T03:27:13.673Z"},"description":"ISO 8601 Datetime. For example, 2022-10-19T03:27:13.673Z"},{"name":"pagination_cursor","in":"query","required":false,"schema":{"description":"Value of `next_cursor` from a previous request.","type":"string"},"description":"Value of `next_cursor` from a previous request."},{"name":"pagination_limit","in":"query","required":false,"schema":{"description":"The number of items to return. The server will enforce a maximum number.","type":"number"},"description":"The number of items to return. The server will enforce a maximum number."},{"name":"sort_direction","in":"query","required":false,"schema":{"type":"string","enum":["asc","desc","asc nulls last","desc nulls last"]}}],"description":"List all events across all calendars belonging to the organization. Events are deduplicated if they appear on multiple calendars within the organization.","responses":{"200":{"description":"Successful response.","content":{"application/json":{"schema":{"$schema":"https://json-schema.org/draft/2020-12/schema","type":"object","properties":{"entries":{"type":"array","items":{"type":"object","properties":{"platform":{"type":"string","const":"luma"},"id":{"type":"string"},"user_id":{"type":"string"},"calendar_id":{"type":"string"},"start_at":{"type":"string","format":"date-time","pattern":"^(?:(?:\\d\\d[2468][048]|\\d\\d[13579][26]|\\d\\d0[48]|[02468][048]00|[13579][26]00)-02-29|\\d{4}-(?:(?:0[13578]|1[02])-(?:0[1-9]|[12]\\d|3[01])|(?:0[469]|11)-(?:0[1-9]|[12]\\d|30)|(?:02)-(?:0[1-9]|1\\d|2[0-8])))T(?:(?:[01]\\d|2[0-3]):[0-5]\\d(?::[0-5]\\d(?:\\.\\d+)?)?(?:Z|([+-](?:[01]\\d|2[0-3]):[0-5]\\d)))$","description":"ISO 8601 Datetime. For example, 2022-10-19T03:27:13.673Z"},"duration_interval":{"type":"string"},"end_at":{"type":"string","format":"date-time","pattern":"^(?:(?:\\d\\d[2468][048]|\\d\\d[13579][26]|\\d\\d0[48]|[02468][048]00|[13579][26]00)-02-29|\\d{4}-(?:(?:0[13578]|1[02])-(?:0[1-9]|[12]\\d|3[01])|(?:0[469]|11)-(?:0[1-9]|[12]\\d|30)|(?:02)-(?:0[1-9]|1\\d|2[0-8])))T(?:(?:[01]\\d|2[0-3]):[0-5]\\d(?::[0-5]\\d(?:\\.\\d+)?)?(?:Z|([+-](?:[01]\\d|2[0-3]):[0-5]\\d)))$","description":"ISO 8601 Datetime. For example, 2022-10-19T03:27:13.673Z"},"created_at":{"type":"string","format":"date-time","pattern":"^(?:(?:\\d\\d[2468][048]|\\d\\d[13579][26]|\\d\\d0[48]|[02468][048]00|[13579][26]00)-02-29|\\d{4}-(?:(?:0[13578]|1[02])-(?:0[1-9]|[12]\\d|3[01])|(?:0[469]|11)-(?:0[1-9]|[12]\\d|30)|(?:02)-(?:0[1-9]|1\\d|2[0-8])))T(?:(?:[01]\\d|2[0-3]):[0-5]\\d(?::[0-5]\\d(?:\\.\\d+)?)?(?:Z|([+-](?:[01]\\d|2[0-3]):[0-5]\\d)))$","description":"ISO 8601 Datetime. For example, 2022-10-19T03:27:13.673Z"},"timezone":{"type":"string","description":"IANA Timezone, e.g. America/New_York. https://en.wikipedia.org/wiki/List_of_tz_database_time_zones"},"name":{"type":"string"},"geo_address_json":{"anyOf":[{"type":"object","properties":{"address":{"type":"string"},"city":{"anyOf":[{"type":"string"},{"type":"null"}]},"region":{"anyOf":[{"type":"string"},{"type":"null"}]},"country":{"anyOf":[{"type":"string"},{"type":"null"}]},"city_state":{"anyOf":[{"type":"string"},{"type":"null"}]},"full_address":{"anyOf":[{"type":"string"},{"type":"null"}]},"google_maps_place_id":{"anyOf":[{"type":"string"},{"type":"null"}]},"apple_maps_place_id":{"anyOf":[{"type":"string"},{"type":"null"}]},"description":{"anyOf":[{"type":"string"},{"type":"null"}]}},"required":["address","city","region","country","city_state","full_address","google_maps_place_id","apple_maps_place_id","description"]},{"type":"null"}]},"coordinate":{"anyOf":[{"type":"object","properties":{"longitude":{"type":"number"},"latitude":{"type":"number"}},"required":["longitude","latitude"]},{"type":"null"}],"description":"Latitude and longitude of the event location. Null for online events or when the address can't be geocoded."},"meeting_url":{"anyOf":[{"type":"string"},{"type":"null"}]},"location_type":{"type":"string","enum":["discord","meet","twitch","twitter","youtube","zoom","offline","missing","unknown"],"description":"`offline` for in-person events. Online events have the meeting platform (`zoom`, `meet`, etc.), or `unknown` if we don't recognize the meeting link. `missing` if the event has no location set."},"location_visibility":{"type":"string","enum":["public","guests-only"],"description":"Whether the event's address is shown to everyone or only to approved guests. This API always returns the full address."},"cover_url":{"type":"string"},"registration_questions":{"type":"array","items":{"anyOf":[{"type":"object","properties":{"id":{"type":"string"},"label":{"type":"string"},"required":{"type":"boolean"},"question_type":{"type":"string","const":"agree-check"}},"required":["id","label","required","question_type"]},{"type":"object","properties":{"id":{"type":"string"},"label":{"type":"string"},"required":{"type":"boolean"},"question_type":{"type":"string","const":"company"},"collect_job_title":{"anyOf":[{"type":"boolean"},{"type":"null"}]},"job_title_label":{"anyOf":[{"type":"string"},{"type":"null"}]}},"required":["id","label","required","question_type"]},{"type":"object","properties":{"id":{"type":"string"},"label":{"type":"string"},"required":{
[...]
